make_scenarios/ai-knowledge-update.json
{
  "name": "AI Knowledge Update Propagation",
  "flow": [
    {
      "id": 1,
      "module": "notion:WatchDatabaseItems",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "database": "{{TODO: Add Knowledge Base database ID}}",
        "limit": 10
      },
      "filter": {
        "name": "Ready for AI Update",
        "conditions": [
          {
            "a": "{{properties.Ready for AI.checkbox}}",
            "b": true,
            "operator": "equal"
          },
          {
            "a": "{{properties.AI Updated.checkbox}}",
            "b": false,
            "operator": "equal"
          }
        ]
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "notion:GetPageContent",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}"
      },
      "mapper": {
        "page": "{{1.id}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "google-drive:UploadAFile",
      "version": 3,
      "parameters": {
        "account": "{{TODO: Add Google connection ID}}"
      },
      "mapper": {
        "folderId": "{{TODO: Add AI Knowledge Repository folder ID}}",
        "file": "{{2.content}}",
        "filename": "{{1.properties.Name.title[0].text.content}}_{{formatDate(now, 'YYYY-MM-DD')}}.md",
        "convert": false
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "openai:CreateCompletion",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add OpenAI connection ID}}",
        "model": "gpt-4",
        "max_tokens": 500,
        "temperature": 0.3
      },
      "mapper": {
        "messages": [
          {
            "role": "system",
            "content": "You are a knowledge management assistant. Create a concise summary of document changes and key updates that AI executives should know. Focus on what changed and why it matters."
          },
          {
            "role": "user",
            "content": "Summarize the key information and changes in this document:\n\nTitle: {{1.properties.Name.title[0].text.content}}\nType: {{1.properties.Type.select.name}}\n\nContent:\n{{substring(2.content, 0, 2000)}}\n\nCreate a brief executive summary (max 200 words) highlighting the most important points for AI systems to understand."
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "notion:CreateAPage",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "parent": "{{TODO: Add AI Context Updates parent page ID}}"
      },
      "mapper": {
        "properties": {
          "Name": {
            "title": [
              {
                "text": {
                  "content": "Context Update: {{1.properties.Name.title[0].text.content}} - {{formatDate(now, 'MMM DD')}}"
                }
              }
            ]
          },
          "Type": {
            "select": {
              "name": "{{1.properties.Type.select.name}}"
            }
          },
          "Summary": {
            "rich_text": [
              {
                "text": {
                  "content": "{{4.choices[0].message.content}}"
                }
              }
            ]
          },
          "Source Document": {
            "relation": [
              {
                "id": "{{1.id}}"
              }
            ]
          },
          "Update Date": {
            "date": {
              "start": "{{now}}"
            }
          }
        },
        "children": [
          {
            "object": "block",
            "type": "heading_2",
            "heading_2": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Key Updates"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "paragraph",
            "paragraph": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "{{4.choices[0].message.content}}"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "heading_2",
            "heading_2": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Source"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "paragraph",
            "paragraph": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Document: "
                  }
                },
                {
                  "type": "text",
                  "text": {
                    "content": "{{1.properties.Name.title[0].text.content}}",
                    "link": {
                      "url": "{{1.url}}"
                    }
                  }
                }
              ]
            }
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "notion:UpdateADatabaseItem",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}"
      },
      "mapper": {
        "database_item": "{{1.id}}",
        "properties": {
          "AI Updated": {
            "checkbox": true
          },
          "AI Update Date": {
            "date": {
              "start": "{{now}}"
            }
          },
          "Context Summary": {
            "url": "{{5.url}}"
          }
        }
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    },
    {
      "id": 7,
      "module": "slack:CreateAMessage",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Slack connection ID}}"
      },
      "mapper": {
        "channel": "{{TODO: Add AI updates channel ID}}",
        "text": "🧠 AI Knowledge Update\n\n*Document:* {{1.properties.Name.title[0].text.content}}\n*Type:* {{1.properties.Type.select.name}}\n\n*Summary:*\n{{4.choices[0].message.content}}\n\n✅ Updated in Google Drive\n✅ Context summary created\n\n<{{5.url}}|View Context Update>",
        "parse": "full"
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        }
      }
    },
    {
      "id": 8,
      "module": "schedule:BasicSchedule",
      "version": 1,
      "parameters": {
        "schedule": "0 0 1 */3 *"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 300
        },
        "parameters": {
          "schedule": {
            "label": "Quarterly - First day at midnight"
          }
        }
      }
    },
    {
      "id": 9,
      "module": "slack:CreateAMessage",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Slack connection ID}}"
      },
      "mapper": {
        "channel": "{{TODO: Add reminders channel ID}}",
        "text": "📅 Quarterly AI Context Refresh Reminder\n\n*Action Required:* It's time for the quarterly AI executive context refresh.\n\n*Steps:*\n1. Review recent context updates\n2. Initialize each AI executive with latest documentation\n3. Verify understanding of key changes\n4. Update initialization templates\n\n*AI Executives to refresh:*\n• ChatGPT (Operational)\n• Claude (Content)\n• Gemini (Strategic)\n• Perplexity (Research)\n• Notebook LM Plus (Knowledge)\n\n<{{TODO: Add AI Board guide URL}}|View AI Board Guide>",
        "parse": "full"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 300
        }
      }
    },
    {
      "id": 10,
      "module": "clickup:CreateATask",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ClickUp connection ID}}",
        "list": "{{TODO: Add AI Management list ID}}"
      },
      "mapper": {
        "name": "Quarterly AI Context Refresh - {{formatDate(now, 'YYYY Q')}}",
        "description": "Complete the quarterly refresh of all AI executive contexts with latest business documentation and updates.",
        "status": "To Do",
        "due_date": "{{addDays(now, 7)}}",
        "priority": 2,
        "assignees": ["{{TODO: Add founder's ClickUp user ID}}"],
        "tags": ["ai-board", "quarterly", "maintenance"]
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 300
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 2,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}