make_scenarios/automated-newsletter-distribution.json
{
  "name": "Automated Newsletter & Content Email Distribution",
  "flow": [
    {
      "id": 1,
      "module": "schedule:BasicSchedule",
      "version": 1,
      "parameters": {
        "schedule": "0 9 1 * *"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "parameters": {
          "schedule": {
            "label": "First day of month at 9:00 AM"
          }
        }
      }
    },
    {
      "id": 2,
      "module": "notion:SearchDatabaseItems",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "database": "{{TODO: Add Blog Posts database ID}}",
        "limit": 5
      },
      "mapper": {
        "filter": {
          "and": [
            {
              "property": "Published",
              "checkbox": {
                "equals": true
              }
            },
            {
              "property": "Publish Date",
              "date": {
                "after": "{{addMonths(now, -1)}}"
              }
            }
          ]
        },
        "sorts": [
          {
            "property": "Publish Date",
            "direction": "descending"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "notion:GetAPage",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "page": "{{TODO: Add Changelog/Updates page ID}}"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "tools:Aggregator",
      "version": 1,
      "parameters": {
        "feeder": 2,
        "target": "text",
        "separator": "\n\n"
      },
      "mapper": {
        "value": "**{{properties.Title.title[0].text.content}}**\n{{properties.Summary.rich_text[0].text.content}}\n[Read more →]({{url}})"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "openai:CreateCompletion",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add OpenAI/Claude connection ID}}",
        "model": "gpt-4",
        "max_tokens": 800,
        "temperature": 0.7
      },
      "mapper": {
        "messages": [
          {
            "role": "system",
            "content": "You are the BrainOps content director. Write a monthly newsletter that's informative, engaging, and showcases our AI-enhanced automation services. Include a friendly greeting, highlight recent content, share a useful tip, and end with a soft call-to-action. Keep it under 500 words."
          },
          {
            "role": "user",
            "content": "Create a newsletter for {{formatDate(now, 'MMMM YYYY')}}.\n\nRecent blog posts:\n{{4.text}}\n\nKey updates:\n{{3.properties.Content.rich_text[0].text.content}}\n\nInclude a practical AI/automation tip related to project management or business efficiency."
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "convertkit:CreateBroadcast",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ConvertKit connection ID}}"
      },
      "mapper": {
        "subject": "BrainOps Monthly: {{formatDate(now, 'MMMM YYYY')}} - AI Tips & Updates",
        "from_email": "{{TODO: Add from email}}",
        "description": "Monthly newsletter - {{formatDate(now, 'MMMM YYYY')}}",
        "content": "{{5.choices[0].message.content}}",
        "public": false,
        "send_at": "{{formatDate(addHours(now, 1), 'YYYY-MM-DDTHH:mm:ssZ')}}"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    },
    {
      "id": 7,
      "module": "notion:CreateAPage",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "parent": "{{TODO: Add Newsletter Archive parent page ID}}"
      },
      "mapper": {
        "properties": {
          "Name": {
            "title": [
              {
                "text": {
                  "content": "Newsletter - {{formatDate(now, 'MMMM YYYY')}}"
                }
              }
            ]
          },
          "Date Sent": {
            "date": {
              "start": "{{now}}"
            }
          },
          "ConvertKit ID": {
            "rich_text": [
              {
                "text": {
                  "content": "{{6.broadcast.id}}"
                }
              }
            ]
          }
        },
        "children": [
          {
            "object": "block",
            "type": "heading_1",
            "heading_1": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Newsletter - {{formatDate(now, 'MMMM YYYY')}}"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "paragraph",
            "paragraph": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "{{5.choices[0].message.content}}"
                  }
                }
              ]
            }
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        }
      }
    },
    {
      "id": 8,
      "module": "slack:CreateAMessage",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Slack connection ID}}"
      },
      "mapper": {
        "channel": "{{TODO: Add marketing channel ID}}",
        "text": "📧 Monthly newsletter created and scheduled!\n\n*Subject:* BrainOps Monthly: {{formatDate(now, 'MMMM YYYY')}}\n*Scheduled for:* {{formatDate(addHours(now, 1), 'h:mm A')}}\n*ConvertKit Broadcast:* {{6.broadcast.id}}\n\n<{{7.url}}|View Archive>",
        "parse": "full"
      },
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}