make_scenarios/automated-kpi-dashboard.json
{
  "name": "Automated KPI Dashboard Update",
  "flow": [
    {
      "id": 1,
      "module": "schedule:BasicSchedule",
      "version": 1,
      "parameters": {
        "schedule": "0 8 * * 1"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "parameters": {
          "schedule": {
            "label": "Weekly - Monday 8 AM"
          }
        }
      }
    },
    {
      "id": 2,
      "module": "google-analytics:GetReportingData",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Google Analytics connection ID}}",
        "viewId": "{{TODO: Add GA4 property ID}}"
      },
      "mapper": {
        "dateRanges": [
          {
            "startDate": "{{formatDate(addDays(now, -7), 'YYYY-MM-DD')}}",
            "endDate": "{{formatDate(addDays(now, -1), 'YYYY-MM-DD')}}"
          }
        ],
        "metrics": [
          {
            "expression": "ga:users"
          },
          {
            "expression": "ga:pageviews"
          },
          {
            "expression": "ga:goalCompletionsAll"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "convertkit:GetStats",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ConvertKit connection ID}}"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "stripe:GetAccountBalance",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Stripe connection ID}}"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "clickup:GetTasks",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ClickUp connection ID}}",
        "list": "{{TODO: Add active projects list ID}}"
      },
      "mapper": {
        "statuses": ["in progress", "active"],
        "date_created_gt": "{{formatDate(addDays(now, -7), 'x')}}"
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "google-sheets:GetValues",
      "version": 2,
      "parameters": {
        "account": "{{TODO: Add Google connection ID}}",
        "spreadsheet": "{{TODO: Add Revenue Tracking spreadsheet ID}}",
        "sheet": "Revenue 2025"
      },
      "mapper": {
        "range": "A:K",
        "tableContainsHeaders": true,
        "filters": [
          {
            "column": "0",
            "operator": "greaterThan",
            "value": "{{formatDate(addDays(now, -7), 'YYYY-MM-DD')}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    },
    {
      "id": 7,
      "module": "tools:NumericAggregator",
      "version": 1,
      "parameters": {
        "function": "sum",
        "feeder": 6
      },
      "mapper": {
        "value": "{{4}}"
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        }
      }
    },
    {
      "id": 8,
      "module": "google-sheets:AddARow",
      "version": 2,
      "parameters": {
        "account": "{{TODO: Add Google connection ID}}",
        "spreadsheet": "{{TODO: Add KPI Dashboard spreadsheet ID}}",
        "sheet": "Weekly Metrics"
      },
      "mapper": {
        "values": {
          "0": "{{formatDate(now, 'YYYY-MM-DD')}}",
          "1": "{{formatDate(now, 'YYYY [Week] WW')}}",
          "2": "{{2.reports[0].data.totals[0].values[0]}}",
          "3": "{{2.reports[0].data.totals[0].values[1]}}",
          "4": "{{2.reports[0].data.totals[0].values[2]}}",
          "5": "{{3.total_subscribers}}",
          "6": "{{length(5.tasks)}}",
          "7": "{{7.result}}",
          "8": "{{length(6.rows)}}",
          "9": "{{round(7.result / length(6.rows), 2)}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 0
        },
        "parameters": {
          "tableColumns": [
            "Date",
            "Week",
            "Website Users",
            "Page Views",
            "Conversions",
            "Email Subscribers",
            "Active Projects",
            "Weekly Revenue",
            "Transactions",
            "Avg Transaction"
          ]
        }
      }
    },
    {
      "id": 9,
      "module": "notion:CreateAPage",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "parent": "{{TODO: Add KPI Reports parent page ID}}"
      },
      "mapper": {
        "properties": {
          "Name": {
            "title": [
              {
                "text": {
                  "content": "Weekly KPI Report - {{formatDate(now, 'MMM DD, YYYY')}}"
                }
              }
            ]
          }
        },
        "children": [
          {
            "object": "block",
            "type": "heading_1",
            "heading_1": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Weekly Performance Metrics"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "heading_2",
            "heading_2": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Website & Marketing"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "bulleted_list_item",
            "bulleted_list_item": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Users: {{2.reports[0].data.totals[0].values[0]}}"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "bulleted_list_item",
            "bulleted_list_item": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Page Views: {{2.reports[0].data.totals[0].values[1]}}"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "bulleted_list_item",
            "bulleted_list_item": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Email Subscribers: {{3.total_subscribers}}"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "heading_2",
            "heading_2": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Revenue & Sales"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "bulleted_list_item",
            "bulleted_list_item": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Weekly Revenue: ${{7.result}}"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "bulleted_list_item",
            "bulleted_list_item": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Transactions: {{length(6.rows)}}"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "bulleted_list_item",
            "bulleted_list_item": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Average Transaction: ${{round(7.result / length(6.rows), 2)}}"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "heading_2",
            "heading_2": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Operations"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "bulleted_list_item",
            "bulleted_list_item": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Active Projects: {{length(5.tasks)}}"
                  }
                }
              ]
            }
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 2400,
          "y": 0
        }
      }
    },
    {
      "id": 10,
      "module": "slack:CreateAMessage",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Slack connection ID}}"
      },
      "mapper": {
        "channel": "{{TODO: Add reports channel ID}}",
        "text": "📊 Weekly KPIs Updated!\n\n*Week of {{formatDate(now, 'MMM DD')}}:*\n\n📈 *Growth Metrics:*\n• Website Users: {{2.reports[0].data.totals[0].values[0]}} ({{if(2.reports[0].data.totals[0].values[0] > 2.reports[0].data.totals[1].values[0], '↑', '↓')}})\n• Email Subscribers: {{3.total_subscribers}}\n\n💰 *Revenue:*\n• Weekly Total: ${{7.result}}\n• Transactions: {{length(6.rows)}}\n• Avg Transaction: ${{round(7.result / length(6.rows), 2)}}\n\n🚀 *Operations:*\n• Active Projects: {{length(5.tasks)}}\n\n<{{TODO: Add dashboard URL}}|View Full Dashboard>",
        "parse": "full"
      },
      "metadata": {
        "designer": {
          "x": 2700,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}