make_scenarios/client-onboarding-workflow.json
{
  "name": "New Client Onboarding Workflow",
  "flow": [
    {
      "id": 1,
      "module": "clickup:WatchTasks",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ClickUp connection ID}}",
        "list": "{{TODO: Add CRM/Sales Pipeline list ID}}",
        "limit": 10
      },
      "filter": {
        "name": "Client Won Filter",
        "conditions": [
          {
            "a": "{{status}}",
            "b": "Client Won",
            "operator": "equal"
          }
        ]
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "clickup:CreateAFolder",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ClickUp connection ID}}",
        "space": "{{TODO: Add Projects space ID}}"
      },
      "mapper": {
        "name": "{{1.name}} - Project",
        "hidden": false
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "clickup:CreateAListFromTemplate",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ClickUp connection ID}}",
        "template": "{{TODO: Add project template list ID}}"
      },
      "mapper": {
        "folder": "{{2.id}}",
        "name": "{{1.name}} - Tasks"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "notion:CreateAPage",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "parent": "{{TODO: Add Client Wiki parent page ID}}"
      },
      "mapper": {
        "properties": {
          "Name": {
            "title": [
              {
                "text": {
                  "content": "{{1.name}} - Client Portal"
                }
              }
            ]
          },
          "Client Email": {
            "email": "{{1.custom_fields.email}}"
          },
          "Project Start": {
            "date": {
              "start": "{{now}}"
            }
          },
          "ClickUp Project": {
            "url": "{{3.url}}"
          },
          "Status": {
            "select": {
              "name": "Active"
            }
          }
        },
        "children": [
          {
            "object": "block",
            "type": "heading_1",
            "heading_1": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Welcome to Your Project Portal"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "paragraph",
            "paragraph": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "This is your dedicated project space. Here you'll find all project documentation, meeting notes, and resources."
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "heading_2",
            "heading_2": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Quick Links"
                  }
                }
              ]
            }
          },
          {
            "object": "block",
            "type": "bulleted_list_item",
            "bulleted_list_item": {
              "rich_text": [
                {
                  "type": "text",
                  "text": {
                    "content": "Project Tasks: "
                  }
                },
                {
                  "type": "text",
                  "text": {
                    "content": "{{3.url}}",
                    "link": {
                      "url": "{{3.url}}"
                    }
                  }
                }
              ]
            }
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "gmail:ActionSendEmail",
      "version": 2,
      "parameters": {
        "account": "{{TODO: Add Gmail connection ID}}"
      },
      "mapper": {
        "to": [
          "{{1.custom_fields.email}}"
        ],
        "cc": [],
        "bcc": [],
        "subject": "Welcome to BrainOps - Let's Get Started!",
        "html": "<h2>Welcome Aboard!</h2>\n\n<p>Dear {{1.name}},</p>\n\n<p>We're excited to begin working with you! Your project workspace has been set up and is ready for collaboration.</p>\n\n<h3>What's Next:</h3>\n<ol>\n<li><strong>Project Portal:</strong> Access your dedicated project space here: <a href=\"{{4.url}}\">Your Project Portal</a></li>\n<li><strong>Kickoff Meeting:</strong> We'll reach out within 24 hours to schedule our initial consultation</li>\n<li><strong>Documentation:</strong> All project materials will be stored in your portal for easy access</li>\n</ol>\n\n<h3>What to Expect:</h3>\n<ul>\n<li>Regular progress updates</li>\n<li>Clear communication channels</li>\n<li>Transparent project tracking</li>\n</ul>\n\n<p>If you have any immediate questions, please don't hesitate to reach out.</p>\n\n<p>Looking forward to a successful partnership!</p>\n\n<p>Best regards,<br>\nThe BrainOps Team</p>\n\n<p><small>P.S. Keep this email for reference - it contains your project portal link.</small></p>",
        "attachments": []
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "slack:CreateAMessage",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Slack connection ID}}"
      },
      "mapper": {
        "channel": "{{TODO: Add internal notifications channel ID}}",
        "text": "🎉 New Client Onboarded!\n\n*Client:* {{1.name}}\n*Email:* {{1.custom_fields.email}}\n*Project:* <{{3.url}}|View in ClickUp>\n*Portal:* <{{4.url}}|View in Notion>\n\nOnboarding completed at {{formatDate(now, 'YYYY-MM-DD HH:mm')}}",
        "parse": "full"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}