make_scenarios/compliance-calendar-reminders.json
{
  "name": "Compliance Calendar & Reminders",
  "flow": [
    {
      "id": 1,
      "module": "schedule:BasicSchedule",
      "version": 1,
      "parameters": {
        "schedule": "0 9 * * *"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "parameters": {
          "schedule": {
            "label": "Daily at 9:00 AM"
          }
        }
      }
    },
    {
      "id": 2,
      "module": "google-calendar:SearchEvents",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Google connection ID}}",
        "calendar": "{{TODO: Add Compliance Calendar ID}}"
      },
      "mapper": {
        "timeMin": "{{formatDate(now, 'YYYY-MM-DDTHH:mm:ssZ')}}",
        "timeMax": "{{formatDate(addDays(now, 30), 'YYYY-MM-DDTHH:mm:ssZ')}}",
        "q": "compliance OR filing OR renewal",
        "singleEvents": true,
        "orderBy": "startTime"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "builtin:Iterator",
      "version": 1,
      "parameters": {
        "source": "{{2.items}}"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "tools:SetMultipleVariables",
      "version": 1,
      "parameters": {},
      "mapper": {
        "variables": [
          {
            "name": "days_until_due",
            "value": "{{dateDifference(3.start.dateTime, now, 'days')}}"
          },
          {
            "name": "send_30_day",
            "value": "{{days_until_due === 30}}"
          },
          {
            "name": "send_7_day",
            "value": "{{days_until_due === 7}}"
          },
          {
            "name": "send_1_day",
            "value": "{{days_until_due === 1}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "tools:BasicFilter",
      "version": 1,
      "parameters": {},
      "mapper": {
        "conditions": [
          {
            "a": "{{or(4.send_30_day; 4.send_7_day; 4.send_1_day)}}",
            "b": true,
            "operator": "equal"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "notion:SearchDatabaseItems",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "database": "{{TODO: Add Compliance Tracker database ID}}"
      },
      "mapper": {
        "filter": {
          "and": [
            {
              "property": "Event ID",
              "rich_text": {
                "equals": "{{3.id}}"
              }
            },
            {
              "property": "Year",
              "number": {
                "equals": "{{formatDate(now, 'YYYY')}}"
              }
            }
          ]
        }
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    },
    {
      "id": 7,
      "module": "tools:BasicFilter",
      "version": 1,
      "parameters": {},
      "mapper": {
        "conditions": [
          {
            "a": "{{length(6.results)}}",
            "b": 0,
            "operator": "equal"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        }
      }
    },
    {
      "id": 8,
      "module": "gmail:ActionSendEmail",
      "version": 2,
      "parameters": {
        "account": "{{TODO: Add Gmail connection ID}}"
      },
      "mapper": {
        "to": [
          "{{TODO: Add founder email}}",
          "{{TODO: Add accountant email (optional)}}"
        ],
        "subject": "{{if(4.send_30_day, '30-Day', if(4.send_7_day, '7-Day', '1-Day'))}} Reminder: {{3.summary}}",
        "html": "<h2>Compliance Reminder</h2>\n\n<p><strong>{{3.summary}}</strong> is due in <strong>{{4.days_until_due}} days</strong> on {{formatDate(3.start.dateTime, 'MMMM DD, YYYY')}}.</p>\n\n<h3>Details:</h3>\n<p>{{3.description}}</p>\n\n<h3>Action Required:</h3>\n<ol>\n{{TODO: Add checklist items based on event type - can be parsed from description}}\n</ol>\n\n<p>Please ensure all necessary documents are prepared and filed on time to avoid penalties.</p>\n\n{{if(4.send_1_day, '<p style=\"color: red;\"><strong>⚠️ This is your final reminder!</strong></p>', '')}}",
        "attachments": []
      },
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 0
        }
      }
    },
    {
      "id": 9,
      "module": "clickup:CreateATask",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ClickUp connection ID}}",
        "list": "{{TODO: Add Compliance/Admin list ID}}"
      },
      "mapper": {
        "name": "{{3.summary}} - Due {{formatDate(3.start.dateTime, 'MMM DD')}}",
        "description": "**Compliance Task**\n\n{{3.description}}\n\n**Due Date:** {{formatDate(3.start.dateTime, 'MMMM DD, YYYY')}}\n\n**Days Remaining:** {{4.days_until_due}}",
        "status": "To Do",
        "due_date": "{{3.start.dateTime}}",
        "priority": "{{if(4.days_until_due < 7, 1, 2)}}",
        "tags": ["compliance", "{{formatDate(now, 'YYYY')}}"],
        "assignees": ["{{TODO: Add founder's ClickUp user ID}}"]
      },
      "metadata": {
        "designer": {
          "x": 2400,
          "y": 0
        }
      }
    },
    {
      "id": 10,
      "module": "notion:CreateADatabaseItem",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "database": "{{TODO: Add Compliance Tracker database ID}}"
      },
      "mapper": {
        "properties": {
          "Event ID": {
            "rich_text": [
              {
                "text": {
                  "content": "{{3.id}}"
                }
              }
            ]
          },
          "Task": {
            "title": [
              {
                "text": {
                  "content": "{{3.summary}}"
                }
              }
            ]
          },
          "Year": {
            "number": "{{formatDate(now, 'YYYY')}}"
          },
          "Due Date": {
            "date": {
              "start": "{{3.start.dateTime}}"
            }
          },
          "Status": {
            "select": {
              "name": "Pending"
            }
          },
          "Reminder Sent": {
            "multi_select": [
              {
                "name": "{{4.days_until_due}}-day"
              }
            ]
          },
          "ClickUp Task": {
            "url": "{{9.url}}"
          }
        }
      },
      "metadata": {
        "designer": {
          "x": 2700,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}