make_scenarios/consultation-scheduling-blueprint.json
{
  "name": "Consultation Request Intake & Scheduling",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "name": "Consultation Request Form",
        "hook": null,
        "note": "TODO: Configure webhook URL for consultation form"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "label": "Consultation Request Webhook"
            }
          }
        },
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Contact Name",
            "required": true
          },
          {
            "name": "email",
            "type": "email",
            "label": "Email Address",
            "required": true
          },
          {
            "name": "company",
            "type": "text",
            "label": "Company"
          },
          {
            "name": "phone",
            "type": "text",
            "label": "Phone Number"
          },
          {
            "name": "discussion_topics",
            "type": "text",
            "label": "What would you like to discuss?"
          },
          {
            "name": "preferred_times",
            "type": "text",
            "label": "Preferred meeting times"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "calendly:watchEvents",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "TODO: Add Calendly connection ID",
        "organization": "TODO: Add organization URI",
        "event_types": ["invitee.created"],
        "limit": 1
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 150
        }
      }
    },
    {
      "id": 3,
      "module": "router:Router",
      "version": 1,
      "parameters": {},
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 75
        }
      },
      "routes": [
        {
          "name": "Form Submission Route",
          "flow": [
            {
              "id": 4,
              "module": "gmail:SendAnEmail",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "TODO: Add Gmail connection ID"
              },
              "mapper": {
                "to": ["{{1.email}}"],
                "subject": "Schedule Your BrainOps Consultation",
                "html": "<p>Hi {{1.name}},</p>\n<p>Thank you for your interest in scheduling a consultation with BrainOps!</p>\n<p>Based on your request to discuss:</p>\n<blockquote>{{1.discussion_topics}}</blockquote>\n<p>Please click the link below to schedule a time that works best for you:</p>\n<p><a href=\"TODO: Add Calendly link\" style=\"background-color: #0066cc; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; display: inline-block;\">Schedule Your Consultation</a></p>\n<p>The consultation will be 30 minutes via video call, where we'll:</p>\n<ul>\n<li>Discuss your specific needs and challenges</li>\n<li>Explore how BrainOps can help</li>\n<li>Answer any questions you have</li>\n<li>Outline potential next steps</li>\n</ul>\n<p>If you have any questions before our call, please don't hesitate to reply to this email.</p>\n<p>Looking forward to speaking with you!</p>\n<p>Best regards,<br>The BrainOps Team</p>"
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 0
                }
              }
            }
          ]
        },
        {
          "name": "Calendly Booking Route",
          "flow": [
            {
              "id": 5,
              "module": "google-calendar:createAnEvent",
              "version": 1,
              "parameters": {
                "__IMTCONN__": "TODO: Add Google Calendar connection ID",
                "calendarId": "primary"
              },
              "mapper": {
                "name": "Consultation: {{2.payload.name}} - {{2.payload.email}}",
                "description": "**Consultation Call**\n\nClient: {{2.payload.name}}\nEmail: {{2.payload.email}}\nCompany: {{2.payload.questions_and_answers.company}}\n\nDiscussion Topics:\n{{2.payload.questions_and_answers.discussion_topics}}\n\n---\nMeeting Link: {{2.payload.event.location.join_url}}\n\nPre-call checklist:\n- Review client's discussion topics\n- Prepare relevant case studies/examples\n- Have pricing information ready\n- Test meeting link",
                "start": "{{2.payload.event.start_time}}",
                "end": "{{2.payload.event.end_time}}",
                "attendees": [
                  {
                    "email": "{{2.payload.email}}",
                    "displayName": "{{2.payload.name}}"
                  }
                ],
                "sendNotifications": true,
                "reminders": {
                  "useDefault": false,
                  "overrides": [
                    {
                      "method": "email",
                      "minutes": 1440
                    },
                    {
                      "method": "popup",
                      "minutes": 60
                    }
                  ]
                }
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 150
                }
              }
            }
          ]
        }
      ]
    },
    {
      "id": 6,
      "module": "clickup:createTask",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "TODO: Add ClickUp connection ID"
      },
      "mapper": {
        "name": "Consult Call - {{ifempty(1.name; 2.payload.name)}} [{{formatDate(ifempty(1.preferred_times; 2.payload.event.start_time); 'MMM DD')}}]",
        "description": "**Consultation Details**\n\nContact: {{ifempty(1.name; 2.payload.name)}}\nEmail: {{ifempty(1.email; 2.payload.email)}}\nCompany: {{ifempty(1.company; 2.payload.questions_and_answers.company)}}\nPhone: {{ifempty(1.phone; 2.payload.questions_and_answers.phone)}}\n\n**Discussion Topics:**\n{{ifempty(1.discussion_topics; 2.payload.questions_and_answers.discussion_topics)}}\n\n**Meeting Details:**\nDate/Time: {{formatDate(2.payload.event.start_time; 'YYYY-MM-DD HH:mm')}}\nDuration: 30 minutes\nLocation: {{2.payload.event.location.join_url}}\n\n**Pre-Call Prep:**\n- [ ] Review discussion topics\n- [ ] Research company (if provided)\n- [ ] Prepare relevant examples\n- [ ] Test video link\n- [ ] Have pricing ready",
        "list": "TODO: Add Sales/Consulting Intake list ID",
        "status": "scheduled",
        "priority": 2,
        "due_date": "{{2.payload.event.start_time}}",
        "assignees": ["TODO: Add assignee user ID"],
        "tags": ["consultation", "sales-call"],
        "custom_fields": [
          {
            "id": "TODO: Add custom field ID for Contact Email",
            "value": "{{ifempty(1.email; 2.payload.email)}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 75
        }
      }
    },
    {
      "id": 7,
      "module": "gmail:SendAnEmail",
      "version": 2,
      "parameters": {
        "__IMTCONN__": "TODO: Add Gmail connection ID"
      },
      "mapper": {
        "to": ["{{2.payload.email}}"],
        "subject": "Consultation Confirmed - {{formatDate(2.payload.event.start_time; 'dddd, MMMM D at h:mm A')}}",
        "html": "<p>Hi {{2.payload.name}},</p>\n<p>Your consultation with BrainOps is confirmed!</p>\n<div style=\"background-color: #f5f5f5; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n<h3 style=\"margin-top: 0;\">Meeting Details</h3>\n<p><strong>Date:</strong> {{formatDate(2.payload.event.start_time; 'dddd, MMMM D, YYYY')}}<br>\n<strong>Time:</strong> {{formatDate(2.payload.event.start_time; 'h:mm A')}} ({{2.payload.event.timezone}})<br>\n<strong>Duration:</strong> 30 minutes<br>\n<strong>Location:</strong> <a href=\"{{2.payload.event.location.join_url}}\">Join Video Call</a></p>\n</div>\n<p><strong>We'll be discussing:</strong></p>\n<blockquote style=\"border-left: 3px solid #0066cc; padding-left: 15px; margin-left: 0;\">{{2.payload.questions_and_answers.discussion_topics}}</blockquote>\n<p><strong>To prepare for our call:</strong></p>\n<ul>\n<li>Think about your specific goals and challenges</li>\n<li>Have any relevant project details or examples ready</li>\n<li>Test your video/audio before the call</li>\n<li>Find a quiet space for our conversation</li>\n</ul>\n<p>You should have received a calendar invitation with all the details. If you need to reschedule, you can do so through the link in that invitation.</p>\n<p>Looking forward to our conversation!</p>\n<p>Best regards,<br>The BrainOps Team</p>\n<hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n<p style=\"font-size: 12px; color: #666;\">Need to make changes? <a href=\"{{2.payload.reschedule_url}}\">Reschedule</a> | <a href=\"{{2.payload.cancel_url}}\">Cancel</a></p>"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 225
        }
      }
    },
    {
      "id": 8,
      "module": "tools:sleep",
      "version": 1,
      "parameters": {
        "duration": 86400000,
        "unit": "milliseconds"
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 75
        },
        "parameters": {
          "duration": 86400000
        }
      }
    },
    {
      "id": 9,
      "module": "gmail:SendAnEmail",
      "version": 2,
      "parameters": {
        "__IMTCONN__": "TODO: Add Gmail connection ID"
      },
      "mapper": {
        "to": ["{{2.payload.email}}"],
        "subject": "Tomorrow's Consultation - Quick Reminder",
        "html": "<p>Hi {{2.payload.name}},</p>\n<p>Just a quick reminder about our consultation tomorrow!</p>\n<div style=\"background-color: #f5f5f5; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n<p><strong>Time:</strong> {{formatDate(2.payload.event.start_time; 'h:mm A')}} ({{2.payload.event.timezone}})<br>\n<strong>Duration:</strong> 30 minutes<br>\n<strong>Join:</strong> <a href=\"{{2.payload.event.location.join_url}}\">Click here to join the video call</a></p>\n</div>\n<p>We'll be discussing: <em>{{2.payload.questions_and_answers.discussion_topics}}</em></p>\n<p>See you tomorrow!</p>\n<p>Best regards,<br>The BrainOps Team</p>"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 75
        }
      }
    },
    {
      "id": 10,
      "module": "tools:sleep",
      "version": 1,
      "parameters": {
        "duration": 3600000,
        "unit": "milliseconds"
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 225
        },
        "parameters": {
          "duration": 3600000
        }
      }
    },
    {
      "id": 11,
      "module": "gmail:SendAnEmail",
      "version": 2,
      "parameters": {
        "__IMTCONN__": "TODO: Add Gmail connection ID"
      },
      "mapper": {
        "to": ["{{2.payload.email}}"],
        "subject": "Starting in 1 hour - BrainOps Consultation",
        "html": "<p>Hi {{2.payload.name}},</p>\n<p>Our consultation starts in 1 hour!</p>\n<p><a href=\"{{2.payload.event.location.join_url}}\" style=\"background-color: #0066cc; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; display: inline-block;\">Join Video Call</a></p>\n<p>Looking forward to speaking with you!</p>\n<p>The BrainOps Team</p>"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 225
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}