make_scenarios/consultation-request-intake.json
{
  "name": "Consultation Request Intake & Scheduling",
  "flow": [
    {
      "id": 1,
      "module": "calendly:WatchEvents",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Calendly connection ID}}",
        "event": "invitee.created"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "google-calendar:CreateAnEvent",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Google connection ID}}",
        "calendar": "{{TODO: Add calendar ID}}"
      },
      "mapper": {
        "summary": "Consultation: {{1.payload.name}} ({{1.payload.email}})",
        "description": "**Client:** {{1.payload.name}}\n**Email:** {{1.payload.email}}\n**Phone:** {{1.payload.questions_and_answers.phone}}\n**Company:** {{1.payload.questions_and_answers.company}}\n\n**Discussion Topics:**\n{{1.payload.questions_and_answers.topics}}\n\n**Calendly Event:** {{1.payload.uri}}",
        "start": {
          "dateTime": "{{1.payload.event.start_time}}"
        },
        "end": {
          "dateTime": "{{1.payload.event.end_time}}"
        },
        "attendees": [
          {
            "email": "{{1.payload.email}}"
          }
        ],
        "reminders": {
          "useDefault": false,
          "overrides": [
            {
              "method": "email",
              "minutes": 1440
            },
            {
              "method": "popup",
              "minutes": 60
            }
          ]
        }
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "clickup:CreateATask",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ClickUp connection ID}}",
        "list": "{{TODO: Add Sales/Consultations list ID}}"
      },
      "mapper": {
        "name": "Consult Call - {{1.payload.name}} - {{formatDate(1.payload.event.start_time, 'MMM DD')}}",
        "description": "## Consultation Details\n\n**Client Information:**\n- Name: {{1.payload.name}}\n- Email: {{1.payload.email}}\n- Phone: {{1.payload.questions_and_answers.phone}}\n- Company: {{1.payload.questions_and_answers.company}}\n\n**Meeting Time:** {{formatDate(1.payload.event.start_time, 'YYYY-MM-DD HH:mm')}}\n\n**Discussion Topics:**\n{{1.payload.questions_and_answers.topics}}\n\n**Preparation Notes:**\n- Review any previous interactions\n- Prepare relevant case studies\n- Have pricing ready for discussed services",
        "status": "Scheduled",
        "due_date": "{{1.payload.event.start_time}}",
        "assignees": ["{{TODO: Add founder's ClickUp user ID}}"],
        "priority": 2,
        "tags": ["consultation", "sales"]
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "gmail:ActionSendEmail",
      "version": 2,
      "parameters": {
        "account": "{{TODO: Add Gmail connection ID}}"
      },
      "mapper": {
        "to": [
          "{{1.payload.email}}"
        ],
        "subject": "Consultation Confirmed - {{formatDate(1.payload.event.start_time, 'MMM DD @ h:mm A')}}",
        "html": "<h2>Your Consultation is Confirmed!</h2>\n\n<p>Hi {{1.payload.name}},</p>\n\n<p>I'm looking forward to our consultation on <strong>{{formatDate(1.payload.event.start_time, 'MMMM DD @ h:mm A')}}</strong>.</p>\n\n<h3>What We'll Discuss:</h3>\n<p>{{1.payload.questions_and_answers.topics}}</p>\n\n<h3>How to Prepare:</h3>\n<ul>\n<li>Have any relevant project details ready</li>\n<li>Prepare your key questions</li>\n<li>Think about your timeline and budget parameters</li>\n</ul>\n\n<p>You'll receive a calendar invitation shortly with the meeting link.</p>\n\n<p>If you need to reschedule, you can do so here: <a href=\"{{1.payload.reschedule_url}}\">Reschedule Meeting</a></p>\n\n<p>Looking forward to speaking with you!</p>\n\n<p>Best regards,<br>\n{{TODO: Add founder name}}<br>\nBrainOps</p>"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "tools:Sleep",
      "version": 1,
      "parameters": {
        "duration": "{{dateDifference(1.payload.event.start_time, addDays(now, -1), 'minutes')}}",
        "unit": "minutes"
      },
      "filter": {
        "name": "Only wait if meeting is more than 1 day away",
        "conditions": [
          {
            "a": "{{dateDifference(1.payload.event.start_time, now, 'hours')}}",
            "b": "24",
            "operator": "greaterThan"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "gmail:ActionSendEmail",
      "version": 2,
      "parameters": {
        "account": "{{TODO: Add Gmail connection ID}}"
      },
      "mapper": {
        "to": [
          "{{1.payload.email}}"
        ],
        "subject": "Tomorrow's Consultation - Quick Reminder",
        "html": "<p>Hi {{1.payload.name}},</p>\n\n<p>Just a quick reminder about our consultation tomorrow at <strong>{{formatDate(1.payload.event.start_time, 'h:mm A')}}</strong>.</p>\n\n<p>I'm looking forward to discussing how BrainOps can help with your project.</p>\n\n<p>See you then!</p>\n\n<p>{{TODO: Add founder name}}<br>\nBrainOps</p>\n\n<p><small>Need to reschedule? <a href=\"{{1.payload.reschedule_url}}\">Click here</a></small></p>"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}