make_scenarios/digital-purchase-fulfillment.json
{
  "name": "Digital Purchase Fulfillment & Onboarding",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "{{TODO: Create webhook in Make.com and insert ID here}}",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "Marketplace Purchase Webhook"
            }
          }
        },
        "expect": [
          {
            "name": "marketplace",
            "type": "text",
            "label": "Marketplace",
            "required": true
          },
          {
            "name": "order_id",
            "type": "text",
            "label": "Order ID",
            "required": true
          },
          {
            "name": "buyer_email",
            "type": "email",
            "label": "Buyer Email",
            "required": true
          },
          {
            "name": "buyer_name",
            "type": "text",
            "label": "Buyer Name",
            "required": false
          },
          {
            "name": "product_id",
            "type": "text",
            "label": "Product ID",
            "required": true
          },
          {
            "name": "product_name",
            "type": "text",
            "label": "Product Name",
            "required": true
          },
          {
            "name": "price",
            "type": "number",
            "label": "Price",
            "required": true
          },
          {
            "name": "download_url",
            "type": "url",
            "label": "Download URL",
            "required": false
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {
        "routes": [
          {
            "flow": [
              {
                "id": 3,
                "module": "gmail:ActionSendEmail",
                "version": 2,
                "parameters": {
                  "account": "{{TODO: Add Gmail connection ID}}"
                },
                "mapper": {
                  "to": [
                    "{{1.buyer_email}}"
                  ],
                  "subject": "Your {{1.product_name}} is Ready!",
                  "html": "<h2>Thank you for your purchase!</h2>\n<p>Hi {{1.buyer_name}},</p>\n<p>Thank you for purchasing <strong>{{1.product_name}}</strong> from BrainOps.</p>\n<p><a href=\"{{1.download_url}}\">Download Your Product Here</a></p>\n<p>If you have any questions or need help getting started, please don't hesitate to reach out.</p>\n<p>Best regards,<br>The BrainOps Team</p>",
                  "attachments": []
                },
                "metadata": {
                  "designer": {
                    "x": 300,
                    "y": 0
                  }
                }
              }
            ]
          }
        ]
      },
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 150,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "notion:CreateADatabaseItem",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "database": "{{TODO: Add Customers database ID}}"
      },
      "mapper": {
        "properties": {
          "Email": {
            "email": "{{1.buyer_email}}"
          },
          "Name": {
            "title": [
              {
                "text": {
                  "content": "{{1.buyer_name}}"
                }
              }
            ]
          },
          "Product": {
            "select": {
              "name": "{{1.product_name}}"
            }
          },
          "Purchase Date": {
            "date": {
              "start": "{{now}}"
            }
          },
          "Order ID": {
            "rich_text": [
              {
                "text": {
                  "content": "{{1.order_id}}"
                }
              }
            ]
          },
          "Amount": {
            "number": "{{1.price}}"
          },
          "Marketplace": {
            "select": {
              "name": "{{1.marketplace}}"
            }
          }
        }
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "convertkit:AddSubscriberToTag",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ConvertKit connection ID}}"
      },
      "mapper": {
        "tag": "{{TODO: Map to appropriate product tag ID}}",
        "email": "{{1.buyer_email}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "tools:Sleep",
      "version": 1,
      "parameters": {
        "duration": "7",
        "unit": "days"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 7,
      "module": "gmail:ActionSendEmail",
      "version": 2,
      "parameters": {
        "account": "{{TODO: Add Gmail connection ID}}"
      },
      "mapper": {
        "to": [
          "{{1.buyer_email}}"
        ],
        "subject": "How's your experience with {{1.product_name}}?",
        "html": "<p>Hi {{1.buyer_name}},</p>\n<p>It's been a week since you purchased {{1.product_name}}. We hope you're finding it valuable!</p>\n<p>Do you have any questions or need help with implementation? Just reply to this email and we'll be happy to assist.</p>\n<p>Here's a quick tip to get the most out of your purchase:<br>\n{{TODO: Add product-specific tip based on product_id}}</p>\n<p>Best regards,<br>The BrainOps Team</p>"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}