make_scenarios/document-filing-organization.json
{
  "name": "Document Filing & Organization",
  "flow": [
    {
      "id": 1,
      "module": "gmail:WatchEmails",
      "version": 2,
      "parameters": {
        "account": "{{TODO: Add Gmail connection ID}}",
        "folder": "INBOX",
        "maxResults": 10
      },
      "filter": {
        "name": "Document Emails Filter",
        "conditions": [
          {
            "a": "{{or(contains(subject, 'Invoice'); contains(subject, 'Receipt'); contains(subject, 'Contract'); contains(from.address, 'stripe.com'); contains(from.address, 'docusign.com'))}}",
            "b": true,
            "operator": "equal"
          }
        ]
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "tools:BasicFilter",
      "version": 1,
      "parameters": {},
      "mapper": {
        "conditions": [
          {
            "a": "{{length(1.attachments)}}",
            "b": 0,
            "operator": "greaterThan"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "builtin:Iterator",
      "version": 1,
      "parameters": {
        "source": "{{1.attachments}}"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "tools:Switch",
      "version": 1,
      "parameters": {},
      "mapper": {
        "input": "{{1.from.address}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        },
        "parameters": {
          "cases": {
            "1": {
              "label": "Stripe",
              "filter": {
                "conditions": [
                  {
                    "a": "{{contains(1.from.address, 'stripe.com')}}",
                    "b": true,
                    "operator": "equal"
                  }
                ]
              }
            },
            "2": {
              "label": "DocuSign",
              "filter": {
                "conditions": [
                  {
                    "a": "{{contains(1.from.address, 'docusign.com')}}",
                    "b": true,
                    "operator": "equal"
                  }
                ]
              }
            },
            "3": {
              "label": "Other",
              "filter": {
                "conditions": [
                  {
                    "a": true,
                    "b": true,
                    "operator": "equal"
                  }
                ]
              }
            }
          }
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 5,
              "module": "google-drive:UploadAFile",
              "version": 3,
              "parameters": {
                "account": "{{TODO: Add Google connection ID}}"
              },
              "mapper": {
                "folderId": "{{TODO: Add Finance/Stripe folder ID}}",
                "file": "{{3.data}}",
                "filename": "Stripe_{{formatDate(1.date, 'YYYY-MM-DD')}}_{{3.filename}}"
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": -150
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 6,
              "module": "google-drive:UploadAFile",
              "version": 3,
              "parameters": {
                "account": "{{TODO: Add Google connection ID}}"
              },
              "mapper": {
                "folderId": "{{TODO: Add Contracts folder ID}}",
                "file": "{{3.data}}",
                "filename": "Contract_{{formatDate(1.date, 'YYYY-MM-DD')}}_{{replace(1.subject, ' ', '_')}}_{{3.filename}}"
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 0
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "module": "google-drive:UploadAFile",
              "version": 3,
              "parameters": {
                "account": "{{TODO: Add Google connection ID}}"
              },
              "mapper": {
                "folderId": "{{TODO: Add General Documents folder ID}}",
                "file": "{{3.data}}",
                "filename": "{{formatDate(1.date, 'YYYY-MM-DD')}}_{{3.filename}}"
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 150
                }
              }
            }
          ]
        }
      ]
    },
    {
      "id": 8,
      "module": "notion:CreateADatabaseItem",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Notion connection ID}}",
        "database": "{{TODO: Add Document Index database ID}}"
      },
      "mapper": {
        "properties": {
          "Name": {
            "title": [
              {
                "text": {
                  "content": "{{3.filename}}"
                }
              }
            ]
          },
          "Date": {
            "date": {
              "start": "{{1.date}}"
            }
          },
          "Category": {
            "select": {
              "name": "{{switch(1.from.address, 'contains:stripe', 'Receipt', 'contains:docusign', 'Contract', 'contains:invoice', 'Invoice', 'Other')}}"
            }
          },
          "Vendor": {
            "rich_text": [
              {
                "text": {
                  "content": "{{1.from.name}}"
                }
              }
            ]
          },
          "Email Subject": {
            "rich_text": [
              {
                "text": {
                  "content": "{{1.subject}}"
                }
              }
            ]
          },
          "Drive Link": {
            "url": "{{coalesce(5.webViewLink, 6.webViewLink, 7.webViewLink)}}"
          }
        }
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    },
    {
      "id": 9,
      "module": "gmail:ModifyEmail",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Gmail connection ID}}"
      },
      "mapper": {
        "id": "{{1.id}}",
        "addLabels": ["{{TODO: Add 'Filed' label ID}}"],
        "removeLabels": ["UNREAD"]
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}