make_scenarios/lead-capture-crm.json
{
  "name": "Lead Capture to CRM Pipeline",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "{{TODO: Create webhook in Make.com for form submissions}}",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "Lead Form Submission"
            }
          }
        },
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Lead Name",
            "required": true
          },
          {
            "name": "email",
            "type": "email",
            "label": "Email",
            "required": true
          },
          {
            "name": "company",
            "type": "text",
            "label": "Company",
            "required": false
          },
          {
            "name": "phone",
            "type": "text",
            "label": "Phone",
            "required": false
          },
          {
            "name": "project_details",
            "type": "text",
            "label": "Project Details",
            "required": false
          },
          {
            "name": "source",
            "type": "text",
            "label": "Lead Source",
            "required": false
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "tools:BasicFilter",
      "version": 1,
      "parameters": {},
      "mapper": {
        "conditions": [
          {
            "a": "{{1.email}}",
            "b": "",
            "operator": "notEmpty"
          },
          {
            "a": "{{1.name}}",
            "b": "",
            "operator": "notEmpty"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "clickup:CreateATask",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add ClickUp connection ID}}",
        "list": "{{TODO: Add CRM/Leads list ID}}"
      },
      "mapper": {
        "name": "Lead: {{1.name}} - {{1.company}}",
        "description": "**Contact Information:**\n- Email: {{1.email}}\n- Phone: {{1.phone}}\n- Company: {{1.company}}\n\n**Project Details:**\n{{1.project_details}}\n\n**Source:** {{1.source}}\n\n**Lead captured:** {{now}}",
        "status": "New Lead",
        "priority": 2,
        "due_date": "{{addDays(now, 2)}}",
        "assignees": ["{{TODO: Add founder's ClickUp user ID}}"],
        "custom_fields": [
          {
            "id": "{{TODO: Add Email custom field ID}}",
            "value": "{{1.email}}"
          },
          {
            "id": "{{TODO: Add Company custom field ID}}",
            "value": "{{1.company}}"
          }
        ],
        "tags": ["lead", "{{1.source}}"]
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "google-contacts:CreateContact",
      "version": 1,
      "parameters": {
        "account": "{{TODO: Add Google connection ID}}"
      },
      "mapper": {
        "names": [
          {
            "givenName": "{{split(1.name, ' ')[0]}}",
            "familyName": "{{split(1.name, ' ')[1]}}"
          }
        ],
        "emailAddresses": [
          {
            "value": "{{1.email}}",
            "type": "work"
          }
        ],
        "phoneNumbers": [
          {
            "value": "{{1.phone}}",
            "type": "work"
          }
        ],
        "organizations": [
          {
            "name": "{{1.company}}",
            "title": ""
          }
        ],
        "biographies": [
          {
            "value": "Lead Source: {{1.source}}\nProject: {{1.project_details}}\nCaptured: {{formatDate(now, 'YYYY-MM-DD')}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "gmail:ActionSendEmail",
      "version": 2,
      "parameters": {
        "account": "{{TODO: Add Gmail connection ID}}"
      },
      "mapper": {
        "to": [
          "{{1.email}}"
        ],
        "subject": "Thank you for contacting BrainOps",
        "html": "<p>Hi {{1.name}},</p>\n\n<p>Thank you for reaching out to BrainOps. We've received your inquiry and appreciate your interest in our services.</p>\n\n<p>Our team will review your project details and get back to you within 1-2 business days with next steps.</p>\n\n<p>In the meantime, you might find these resources helpful:</p>\n<ul>\n<li><a href=\"{{TODO: Add link to services page}}\">Our Services Overview</a></li>\n<li><a href=\"{{TODO: Add link to case studies}}\">Client Success Stories</a></li>\n</ul>\n\n<p>If you have any urgent questions, please don't hesitate to reply to this email.</p>\n\n<p>Best regards,<br>\nThe BrainOps Team</p>",
        "attachments": []
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "tools:SetVariable",
      "version": 1,
      "parameters": {},
      "mapper": {
        "name": "lead_processed",
        "scope": "roundtrip",
        "value": "true"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}