make_scenarios/release-notes-blueprint.json
{
  "name": "Automated Release Notes & Changelog Publication",
  "flow": [
    {
      "id": 1,
      "module": "github:watchEvents",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "TODO: Add GitHub connection ID",
        "repository": "TODO: Add repository name",
        "owner": "TODO: Add repository owner",
        "events": ["release"]
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "github:watchPushes",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "TODO: Add GitHub connection ID",
        "repository": "TODO: Add repository name",
        "owner": "TODO: Add repository owner",
        "branch": "main"
      },
      "filter": {
        "name": "Release Tag Filter",
        "conditions": [
          [
            {
              "a": "{{ref}}",
              "o": "text:contains",
              "b": "refs/tags/v"
            }
          ]
        ]
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 150
        }
      }
    },
    {
      "id": 3,
      "module": "router:Router",
      "version": 1,
      "parameters": {},
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 75
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "github:listCommits",
              "version": 1,
              "parameters": {
                "__IMTCONN__": "TODO: Add GitHub connection ID"
              },
              "mapper": {
                "owner": "{{ifempty(1.repository.owner.login; 2.repository.owner.name)}}",
                "repo": "{{ifempty(1.repository.name; 2.repository.name)}}",
                "since": "{{addDays(now; -30)}}",
                "per_page": 100
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 0
                }
              }
            },
            {
              "id": 5,
              "module": "github:listPullRequests",
              "version": 1,
              "parameters": {
                "__IMTCONN__": "TODO: Add GitHub connection ID"
              },
              "mapper": {
                "owner": "{{ifempty(1.repository.owner.login; 2.repository.owner.name)}}",
                "repo": "{{ifempty(1.repository.name; 2.repository.name)}}",
                "state": "closed",
                "sort": "updated",
                "direction": "desc",
                "per_page": 50
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 150
                }
              }
            },
            {
              "id": 6,
              "module": "tools:aggregator",
              "version": 1,
              "parameters": {
                "feeder": 4,
                "target": "commits"
              },
              "mapper": {
                "message": "{{commit.message}}",
                "author": "{{commit.author.name}}",
                "date": "{{commit.author.date}}"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 0
                }
              }
            },
            {
              "id": 7,
              "module": "tools:aggregator",
              "version": 1,
              "parameters": {
                "feeder": 5,
                "target": "pullRequests"
              },
              "mapper": {
                "title": "{{title}}",
                "number": "{{number}}",
                "merged_at": "{{merged_at}}"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 150
                }
              }
            },
            {
              "id": 8,
              "module": "http:makeAPICall",
              "version": 1,
              "parameters": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "POST",
                "headers": [
                  {
                    "name": "x-api-key",
                    "value": "TODO: Add Claude API key"
                  },
                  {
                    "name": "anthropic-version",
                    "value": "2023-06-01"
                  },
                  {
                    "name": "content-type",
                    "value": "application/json"
                  }
                ],
                "note": "Using Claude for release notes generation"
              },
              "mapper": {
                "data": "{\n  \"model\": \"claude-3-opus-20240229\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate user-friendly release notes from the following code changes. Group by features, fixes, and improvements. Be specific but avoid technical jargon. Focus on what users will notice and care about.\\n\\nVersion: {{ifempty(1.release.tag_name; 2.ref)}}\\nRelease Date: {{formatDate(now; 'MMMM D, YYYY')}}\\n\\nRecent Pull Requests:\\n{{join(map(7.pullRequests; '- PR #' + number + ': ' + title); '\\n')}}\\n\\nRecent Commits:\\n{{join(map(slice(6.commits; 0; 20); '- ' + message); '\\n')}}\\n\\nFormat the output as:\\n# Release Notes - [Version]\\n\\n## 🎉 New Features\\n- List features here\\n\\n## 🐛 Bug Fixes\\n- List fixes here\\n\\n## 💪 Improvements\\n- List improvements here\\n\\n## 📝 Other Changes\\n- List other changes here\"\n    }\n  ]\n}"
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 75
                }
              }
            },
            {
              "id": 9,
              "module": "notion:CreateAPage",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "TODO: Add Notion connection ID"
              },
              "mapper": {
                "parent": {
                  "database_id": "TODO: Add Product Updates/Changelog database ID"
                },
                "properties": {
                  "Title": {
                    "title": [
                      {
                        "text": {
                          "content": "Release {{ifempty(1.release.tag_name; 2.ref)}} - {{formatDate(now; 'MMMM D, YYYY')}}"
                        }
                      }
                    ]
                  },
                  "Version": {
                    "rich_text": [
                      {
                        "text": {
                          "content": "{{ifempty(1.release.tag_name; 2.ref)}}"
                        }
                      }
                    ]
                  },
                  "Date": {
                    "date": {
                      "start": "{{formatDate(now; 'YYYY-MM-DD')}}"
                    }
                  },
                  "Type": {
                    "select": {
                      "name": "Product Release"
                    }
                  },
                  "Status": {
                    "select": {
                      "name": "Published"
                    }
                  }
                },
                "children": [
                  {
                    "object": "block",
                    "type": "callout",
                    "callout": {
                      "rich_text": [
                        {
                          "type": "text",
                          "text": {
                            "content": "{{parseJson(8.body).content[0].text}}"
                          }
                        }
                      ],
                      "icon": {
                        "emoji": "🚀"
                      }
                    }
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 0
                }
              }
            },
            {
              "id": 10,
              "module": "notion:updatePageContent",
              "version": 1,
              "parameters": {
                "__IMTCONN__": "TODO: Add Notion connection ID"
              },
              "mapper": {
                "pageId": "TODO: Add main Changelog page ID",
                "appendContent": true,
                "content": [
                  {
                    "object": "block",
                    "type": "divider",
                    "divider": {}
                  },
                  {
                    "object": "block",
                    "type": "heading_2",
                    "heading_2": {
                      "rich_text": [
                        {
                          "type": "text",
                          "text": {
                            "content": "{{ifempty(1.release.tag_name; 2.ref)}} - {{formatDate(now; 'MMMM D, YYYY')}}"
                          }
                        }
                      ]
                    }
                  },
                  {
                    "object": "block",
                    "type": "paragraph",
                    "paragraph": {
                      "rich_text": [
                        {
                          "type": "text",
                          "text": {
                            "content": "{{parseJson(8.body).content[0].text}}"
                          }
                        }
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 150
                }
              }
            },
            {
              "id": 11,
              "module": "convertkit:createBroadcast",
              "version": 1,
              "parameters": {
                "__IMTCONN__": "TODO: Add ConvertKit connection ID"
              },
              "filter": {
                "name": "Major Release Only",
                "conditions": [
                  [
                    {
                      "a": "TODO: Add logic to determine if major release",
                      "o": "text:equal",
                      "b": "true"
                    }
                  ]
                ]
              },
              "mapper": {
                "subject": "New Update: {{ifempty(1.release.name; 'Version ' + 2.ref)}}",
                "content": "<h2>We've just released an update!</h2>\n{{replace(parseJson(8.body).content[0].text; '#'; '<h3>'; '</h3>')}}\n\n<p><a href=\"TODO: Add product URL\">Check out the updates in your account</a></p>",
                "public": false,
                "published_at": null,
                "send_at": null
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 0
                }
              }
            },
            {
              "id": 12,
              "module": "slack:postMessage",
              "version": 3,
              "parameters": {
                "__IMTCONN__": "TODO: Add Slack connection ID"
              },
              "mapper": {
                "channel": "#product-updates",
                "text": "🚀 New Release Published!\n\n*Version:* {{ifempty(1.release.tag_name; 2.ref)}}\n*Date:* {{formatDate(now; 'MMMM D, YYYY')}}\n\n*Release Notes:*\n{{substring(parseJson(8.body).content[0].text; 0; 500)}}...\n\n<{{9.url}}|View Full Changelog>",
                "parse": "full"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 150
                }
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}