make_scenarios/revenue-tracking-blueprint.json
{
  "name": "Unified Revenue Tracking Dashboard",
  "flow": [
    {
      "id": 1,
      "module": "stripe:watchEvents",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "TODO: Add Stripe connection ID",
        "events": [
          "charge.succeeded",
          "invoice.payment_succeeded",
          "charge.refunded"
        ],
        "metadata": true
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "name": "Gumroad Sale Webhook",
        "hook": null,
        "note": "TODO: Configure webhook URL from Gumroad settings"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 150
        },
        "restore": {
          "parameters": {
            "hook": {
              "label": "Gumroad Sales Webhook"
            }
          }
        },
        "expect": [
          {
            "name": "sale_id",
            "type": "text",
            "label": "Sale ID"
          },
          {
            "name": "product_name",
            "type": "text",
            "label": "Product Name"
          },
          {
            "name": "email",
            "type": "email",
            "label": "Customer Email"
          },
          {
            "name": "price",
            "type": "number",
            "label": "Sale Price"
          },
          {
            "name": "gumroad_fee",
            "type": "number",
            "label": "Platform Fee"
          },
          {
            "name": "sale_timestamp",
            "type": "date",
            "label": "Sale Date"
          }
        ]
      }
    },
    {
      "id": 3,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "name": "Etsy Sale Webhook",
        "hook": null,
        "note": "TODO: Configure webhook URL from Etsy integration or use API polling"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 300
        },
        "restore": {
          "parameters": {
            "hook": {
              "label": "Etsy Sales Webhook"
            }
          }
        },
        "expect": [
          {
            "name": "receipt_id",
            "type": "text",
            "label": "Receipt ID"
          },
          {
            "name": "listing_title",
            "type": "text",
            "label": "Product Name"
          },
          {
            "name": "buyer_email",
            "type": "email",
            "label": "Customer Email"
          },
          {
            "name": "total_price",
            "type": "number",
            "label": "Sale Price"
          },
          {
            "name": "transaction_fee",
            "type": "number",
            "label": "Platform Fee"
          },
          {
            "name": "created_timestamp",
            "type": "date",
            "label": "Sale Date"
          }
        ]
      }
    },
    {
      "id": 4,
      "module": "router:Router",
      "version": 1,
      "parameters": {},
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 150
        }
      },
      "routes": [
        {
          "name": "Stripe Route",
          "flow": [
            {
              "id": 5,
              "module": "tools:setMultipleVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "variables": [
                  {
                    "name": "source",
                    "value": "Stripe"
                  },
                  {
                    "name": "transactionId",
                    "value": "{{1.data.object.id}}"
                  },
                  {
                    "name": "customerName",
                    "value": "{{ifempty(1.data.object.billing_details.name; 1.data.object.customer_name; 'Unknown')}}"
                  },
                  {
                    "name": "customerEmail",
                    "value": "{{ifempty(1.data.object.billing_details.email; 1.data.object.customer_email; 'Unknown')}}"
                  },
                  {
                    "name": "amount",
                    "value": "{{1.data.object.amount / 100}}"
                  },
                  {
                    "name": "fee",
                    "value": "{{(1.data.object.amount * 0.029 + 30) / 100}}"
                  },
                  {
                    "name": "netAmount",
                    "value": "{{(1.data.object.amount / 100) - ((1.data.object.amount * 0.029 + 30) / 100)}}"
                  },
                  {
                    "name": "type",
                    "value": "{{if(contains(1.type; 'refund'); 'Refund'; ifempty(1.data.object.metadata.type; 'Digital Product'))}}"
                  },
                  {
                    "name": "eventType",
                    "value": "{{if(contains(1.type; 'refund'); 'refund'; 'sale')}}"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 0
                }
              }
            }
          ]
        },
        {
          "name": "Gumroad Route",
          "flow": [
            {
              "id": 6,
              "module": "tools:setMultipleVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "variables": [
                  {
                    "name": "source",
                    "value": "Gumroad"
                  },
                  {
                    "name": "transactionId",
                    "value": "{{2.sale_id}}"
                  },
                  {
                    "name": "customerName",
                    "value": "Unknown"
                  },
                  {
                    "name": "customerEmail",
                    "value": "{{2.email}}"
                  },
                  {
                    "name": "amount",
                    "value": "{{2.price}}"
                  },
                  {
                    "name": "fee",
                    "value": "{{2.gumroad_fee}}"
                  },
                  {
                    "name": "netAmount",
                    "value": "{{2.price - 2.gumroad_fee}}"
                  },
                  {
                    "name": "type",
                    "value": "Digital Product"
                  },
                  {
                    "name": "eventType",
                    "value": "sale"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 150
                }
              }
            }
          ]
        },
        {
          "name": "Etsy Route",
          "flow": [
            {
              "id": 7,
              "module": "tools:setMultipleVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "variables": [
                  {
                    "name": "source",
                    "value": "Etsy"
                  },
                  {
                    "name": "transactionId",
                    "value": "{{3.receipt_id}}"
                  },
                  {
                    "name": "customerName",
                    "value": "Unknown"
                  },
                  {
                    "name": "customerEmail",
                    "value": "{{3.buyer_email}}"
                  },
                  {
                    "name": "amount",
                    "value": "{{3.total_price}}"
                  },
                  {
                    "name": "fee",
                    "value": "{{3.transaction_fee}}"
                  },
                  {
                    "name": "netAmount",
                    "value": "{{3.total_price - 3.transaction_fee}}"
                  },
                  {
                    "name": "type",
                    "value": "Digital Product"
                  },
                  {
                    "name": "eventType",
                    "value": "sale"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 300
                }
              }
            }
          ]
        }
      ]
    },
    {
      "id": 8,
      "module": "datastore:searchRecords",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "TODO: Configure datastore connection"
      },
      "mapper": {
        "datastore": "revenue_transactions",
        "filter": [
          {
            "field": "transactionId",
            "operator": "equal",
            "value": "{{transactionId}}"
          }
        ],
        "limit": 1
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 150
        }
      }
    },
    {
      "id": 9,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 150
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 10,
              "module": "google-sheets:addRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "TODO: Add Google Sheets connection ID"
              },
              "filter": {
                "name": "No Duplicate Found",
                "conditions": [
                  [
                    {
                      "a": "{{length(8.bundles)}}",
                      "o": "numeric:equal",
                      "b": 0
                    }
                  ]
                ]
              },
              "mapper": {
                "spreadsheetId": "TODO: Add Revenue Tracking spreadsheet ID",
                "sheetId": "Revenue 2025",
                "values": [
                  "{{formatDate(now; 'YYYY-MM-DD HH:mm:ss')}}",
                  "{{source}}",
                  "{{transactionId}}",
                  "{{customerEmail}}",
                  "{{customerName}}",
                  "{{amount}}",
                  "{{fee}}",
                  "{{netAmount}}",
                  "{{type}}",
                  "{{eventType}}",
                  "{{formatDate(now; 'MMMM')}}",
                  "{{formatDate(now; 'YYYY')}}"
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 0
                }
              }
            },
            {
              "id": 11,
              "module": "notion:CreateADatabaseItem",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "TODO: Add Notion connection ID"
              },
              "mapper": {
                "parent": {
                  "database_id": "TODO: Add Sales Ledger database ID"
                },
                "properties": {
                  "Transaction ID": {
                    "title": [
                      {
                        "text": {
                          "content": "{{transactionId}}"
                        }
                      }
                    ]
                  },
                  "Date": {
                    "date": {
                      "start": "{{formatDate(now; 'YYYY-MM-DD')}}"
                    }
                  },
                  "Source": {
                    "select": {
                      "name": "{{source}}"
                    }
                  },
                  "Customer": {
                    "rich_text": [
                      {
                        "text": {
                          "content": "{{customerEmail}}"
                        }
                      }
                    ]
                  },
                  "Amount": {
                    "number": "{{amount}}"
                  },
                  "Fee": {
                    "number": "{{fee}}"
                  },
                  "Net Amount": {
                    "number": "{{netAmount}}"
                  },
                  "Category": {
                    "select": {
                      "name": "{{type}}"
                    }
                  },
                  "Type": {
                    "select": {
                      "name": "{{eventType}}"
                    }
                  }
                }
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 150
                }
              }
            },
            {
              "id": 12,
              "module": "datastore:addItem",
              "version": 1,
              "parameters": {
                "__IMTCONN__": "TODO: Configure datastore connection"
              },
              "mapper": {
                "datastore": "revenue_transactions",
                "data": {
                  "transactionId": "{{transactionId}}",
                  "source": "{{source}}",
                  "amount": "{{amount}}",
                  "date": "{{now}}",
                  "type": "{{type}}"
                }
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 300
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 13,
              "module": "builtin:BasicFeeder",
              "version": 1,
              "parameters": {},
              "mapper": {
                "array": "[1]",
                "note": "Transaction already recorded - skip"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 450
                }
              }
            }
          ]
        }
      ]
    },
    {
      "id": 14,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 150
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 15,
              "module": "slack:postMessage",
              "version": 3,
              "parameters": {
                "__IMTCONN__": "TODO: Add Slack connection ID"
              },
              "filter": {
                "name": "Large Transaction Alert",
                "conditions": [
                  [
                    {
                      "a": "{{amount}}",
                      "o": "numeric:greater",
                      "b": 1000
                    }
                  ]
                ]
              },
              "mapper": {
                "channel": "#revenue-alerts",
                "text": "💰 Large Transaction Alert!\n\n*Amount:* ${{amount}}\n*Source:* {{source}}\n*Customer:* {{customerEmail}}\n*Type:* {{type}}\n*Net Revenue:* ${{netAmount}}\n\n🎉 Congratulations on this sale!",
                "parse": "full"
              },
              "metadata": {
                "designer": {
                  "x": 2100,
                  "y": 0
                }
              }
            }
          ]
        }
      ]
    },
    {
      "id": 16,
      "module": "schedule:schedule",
      "version": 1,
      "parameters": {
        "name": "Daily Revenue Summary",
        "schedule": {
          "type": "schedule",
          "interval": "day",
          "time": "21:00",
          "timezone": "America/Denver"
        }
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 600
        }
      }
    },
    {
      "id": 17,
      "module": "google-sheets:getValues",
      "version": 2,
      "parameters": {
        "__IMTCONN__": "TODO: Add Google Sheets connection ID"
      },
      "mapper": {
        "spreadsheetId": "TODO: Add Revenue Tracking spreadsheet ID",
        "range": "Revenue 2025!A:L",
        "valueRenderOption": "UNFORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 600
        }
      }
    },
    {
      "id": 18,
      "module": "tools:aggregateToJSON",
      "version": 1,
      "parameters": {},
      "mapper": {
        "feeder": 17,
        "filter": [
          {
            "field": "0",
            "operator": "text:contains",
            "value": "{{formatDate(now; 'YYYY-MM-DD')}}"
          }
        ],
        "aggregations": [
          {
            "name": "totalRevenue",
            "type": "sum",
            "field": "5"
          },
          {
            "name": "totalFees",
            "type": "sum",
            "field": "6"
          },
          {
            "name": "netRevenue",
            "type": "sum",
            "field": "7"
          },
          {
            "name": "transactionCount",
            "type": "count"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 600
        }
      }
    },
    {
      "id": 19,
      "module": "slack:postMessage",
      "version": 3,
      "parameters": {
        "__IMTCONN__": "TODO: Add Slack connection ID"
      },
      "mapper": {
        "channel": "#daily-metrics",
        "text": "📊 Daily Revenue Summary - {{formatDate(now; 'MMMM D, YYYY')}}\n\n💵 *Total Revenue:* ${{formatNumber(18.totalRevenue; 2; '.')}}\n💸 *Platform Fees:* ${{formatNumber(18.totalFees; 2; '.')}}\n💰 *Net Revenue:* ${{formatNumber(18.netRevenue; 2; '.')}}\n📈 *Transactions:* {{18.transactionCount}}\n\n_Month-to-date and other metrics available in the dashboard_",
        "parse": "full"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 600
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 2,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": true
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}