make_scenarios/scenario-19-ai-drafts.json
{
  "name": "BrainOps AI-Generated Content Drafts",
  "description": "Triggers Claude AI to create first drafts of content (blogs, documentation, marketing copy) when content ideas are marked ready, minimizing manual writing effort.",
  "trigger": {
    "id": 1,
    "module": "notion:watchDatabaseItems",
    "version": 1,
    "parameters": {
      "connection": "{{TODO: Add Notion connection ID}}",
      "databaseId": "{{TODO: Insert Content Ideas Database ID}}",
      "limit": 10
    },
    "mapper": {
      "filter": {
        "and": [
          {
            "property": "Status",
            "select": {
              "equals": "Ready for Draft"
            }
          },
          {
            "property": "Draft_Link",
            "url": {
              "is_empty": true
            }
          }
        ]
      }
    },
    "metadata": {
      "name": "Watch for Content Ready for Drafting",
      "designer": {
        "x": 0,
        "y": 150
      }
    }
  },
  "modules": [
    {
      "id": 2,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{1.items}}"
      },
      "metadata": {
        "name": "Process Each Content Idea",
        "designer": {
          "x": 300,
          "y": 150
        }
      }
    },
    {
      "id": 3,
      "module": "tools:setMultipleVariables",
      "version": 1,
      "parameters": {},
      "mapper": {
        "variables": [
          {
            "name": "contentType",
            "value": "{{2.properties.Content_Type.select.name}}"
          },
          {
            "name": "title",
            "value": "{{2.properties.Title.title[1].text.content}}"
          },
          {
            "name": "targetAudience",
            "value": "{{2.properties.Target_Audience.rich_text[1].text.content}}"
          },
          {
            "name": "keyPoints",
            "value": "{{2.properties.Key_Points.rich_text[1].text.content}}"
          },
          {
            "name": "wordCount",
            "value": "{{if(3.contentType = \"Blog Post\"; 1500; if(3.contentType = \"Social Post\"; 150; if(3.contentType = \"Email\"; 300; if(3.contentType = \"Tutorial\"; 2000; 1000))))}}"
          }
        ],
        "scope": "roundtrip"
      },
      "metadata": {
        "name": "Extract Content Parameters",
        "designer": {
          "x": 600,
          "y": 150
        }
      }
    },
    {
      "id": 4,
      "module": "http:makeAPIRequest",
      "version": 1,
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "headers": [
          {
            "name": "x-api-key",
            "value": "{{TODO: Add Claude API key}}"
          },
          {
            "name": "anthropic-version",
            "value": "2023-06-01"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": 60,
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "maxRedirects": 5
      },
      "mapper": {
        "body": "{\n  \"model\": \"claude-3-opus-20240229\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are BrainOps' Content Director AI. Create a {{3.contentType}} on the topic: {{3.title}}\\n\\nTarget Audience: {{3.targetAudience}}\\n\\nKey Points to Cover:\\n{{3.keyPoints}}\\n\\nRequirements:\\n- Length: approximately {{3.wordCount}} words\\n- Tone: Professional, informative, and engaging\\n- Include relevant examples and actionable insights\\n- For blogs: Include introduction, main sections with subheadings, and conclusion with CTA\\n- For tutorials: Include step-by-step instructions\\n- For social posts: Be concise and engaging with relevant hashtags\\n\\nAlign with BrainOps' expertise in AI-enhanced project management, digital products, roofing consulting, and business automation.\"\n    }\n  ],\n  \"temperature\": 0.7\n}"
      },
      "metadata": {
        "name": "Generate Draft with Claude",
        "designer": {
          "x": 900,
          "y": 150
        }
      }
    },
    {
      "id": 5,
      "module": "tools:setVariable",
      "version": 1,
      "parameters": {},
      "mapper": {
        "name": "draftContent",
        "scope": "roundtrip",
        "value": "{{4.data.content[1].text}}"
      },
      "metadata": {
        "name": "Extract Draft Content",
        "designer": {
          "x": 1200,
          "y": 150
        }
      }
    },
    {
      "id": 6,
      "module": "google-docs:createDocument",
      "version": 1,
      "parameters": {
        "connection": "{{TODO: Add Google Docs connection ID}}",
        "folderId": "{{TODO: Add Drafts folder ID}}"
      },
      "mapper": {
        "name": "[DRAFT] {{3.title}} - {{formatDate(now; \"YYYY-MM-DD\")}}",
        "content": "{{5.draftContent}}"
      },
      "metadata": {
        "name": "Create Google Doc with Draft",
        "designer": {
          "x": 1500,
          "y": 150
        }
      }
    },
    {
      "id": 7,
      "module": "notion:createDatabaseItem",
      "version": 3,
      "parameters": {
        "connection": "{{TODO: Add Notion connection ID}}"
      },
      "mapper": {
        "databaseId": "{{TODO: Insert Drafts Database ID}}",
        "properties": {
          "Title": {
            "title": [{
              "text": {
                "content": "{{3.title}}"
              }
            }]
          },
          "Content_Type": {
            "select": {
              "name": "{{3.contentType}}"
            }
          },
          "Status": {
            "select": {
              "name": "Draft Ready"
            }
          },
          "Draft_Link": {
            "url": "{{6.webViewLink}}"
          },
          "Word_Count": {
            "number": "{{length(split(5.draftContent; \" \"))}}"
          },
          "Created_Date": {
            "date": {
              "start": "{{formatDate(now; \"YYYY-MM-DD\")}}"
            }
          },
          "Source_Idea": {
            "relation": [{
              "id": "{{2.id}}"
            }]
          },
          "AI_Model": {
            "select": {
              "name": "Claude"
            }
          }
        }
      },
      "metadata": {
        "name": "Create Draft Record in Notion",
        "designer": {
          "x": 1800,
          "y": 150
        }
      }
    },
    {
      "id": 8,
      "module": "notion:updateDatabaseItem",
      "version": 3,
      "parameters": {
        "connection": "{{TODO: Add Notion connection ID}}"
      },
      "mapper": {
        "databaseId": "{{TODO: Insert Content Ideas Database ID}}",
        "pageId": "{{2.id}}",
        "properties": {
          "Status": {
            "select": {
              "name": "Draft Created"
            }
          },
          "Draft_Link": {
            "url": "{{6.webViewLink}}"
          },
          "Draft_Created_Date": {
            "date": {
              "start": "{{formatDate(now; \"YYYY-MM-DD\")}}"
            }
          }
        }
      },
      "metadata": {
        "name": "Update Original Content Idea",
        "designer": {
          "x": 2100,
          "y": 150
        }
      }
    },
    {
      "id": 9,
      "module": "slack:createMessage",
      "version": 1,
      "parameters": {
        "connection": "{{TODO: Add Slack connection ID}}"
      },
      "mapper": {
        "channel": "{{TODO: Add content channel ID}}",
        "text": ":writing_hand: AI Draft Created!\n\n*Title:* {{3.title}}\n*Type:* {{3.contentType}}\n*Length:* ~{{length(split(5.draftContent; \" \"))}} words\n\n<{{6.webViewLink}}|Review Draft in Google Docs>\n\nPlease review and edit as needed before publishing.",
        "blocks": [
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": ":writing_hand: *AI Draft Created!*"
            }
          },
          {
            "type": "section",
            "fields": [
              {
                "type": "mrkdwn",
                "text": "*Title:*\n{{3.title}}"
              },
              {
                "type": "mrkdwn",
                "text": "*Type:*\n{{3.contentType}}"
              },
              {
                "type": "mrkdwn",
                "text": "*Target Audience:*\n{{3.targetAudience}}"
              },
              {
                "type": "mrkdwn",
                "text": "*Word Count:*\n~{{length(split(5.draftContent; \" \"))}}"
              }
            ]
          },
          {
            "type": "actions",
            "elements": [
              {
                "type": "button",
                "text": {
                  "type": "plain_text",
                  "text": "Review Draft"
                },
                "url": "{{6.webViewLink}}",
                "style": "primary"
              }
            ]
          }
        ]
      },
      "metadata": {
        "name": "Notify Draft Ready for Review",
        "designer": {
          "x": 2400,
          "y": 150
        }
      }
    },
    {
      "id": 10,
      "module": "notion:createDatabaseItem",
      "version": 3,
      "parameters": {
        "connection": "{{TODO: Add Notion connection ID}}"
      },
      "mapper": {
        "databaseId": "{{TODO: Insert Content Pipeline Log Database ID}}",
        "properties": {
          "Activity": {
            "title": [{
              "text": {
                "content": "Draft Generated: {{3.title}}"
              }
            }]
          },
          "Type": {
            "select": {
              "name": "AI Generation"
            }
          },
          "Date": {
            "date": {
              "start": "{{formatDate(now; \"YYYY-MM-DD\")}}"
            }
          },
          "Details": {
            "rich_text": [{
              "text": {
                "content": "Content Type: {{3.contentType}}\nWord Count: {{length(split(5.draftContent; \" \"))}}\nAI Model: Claude\nTime to Generate: ~30 seconds"
              }
            }]
          }
        }
      },
      "metadata": {
        "name": "Log Activity",
        "designer": {
          "x": 2700,
          "y": 150
        }
      }
    }
  ],
  "settings": {
    "executionTimeout": 120,
    "maxCycles": 100,
    "dlq": true,
    "keepExecutionHistory": true,
    "errorHandlers": [
      {
        "id": 100,
        "module": "notion:updateDatabaseItem",
        "version": 3,
        "parameters": {
          "connection": "{{TODO: Add Notion connection ID}}"
        },
        "mapper": {
          "databaseId": "{{TODO: Insert Content Ideas Database ID}}",
          "pageId": "{{2.id}}",
          "properties": {
            "Status": {
              "select": {
                "name": "Draft Error"
              }
            },
            "Notes": {
              "rich_text": [{
                "text": {
                  "content": "Error generating draft: {{100.error.message}}"
                }
              }]
            }
          }
        },
        "metadata": {
          "name": "Mark Error Status"
        },
        "handlerType": "error",
        "direction": [4, 5, 6, 7]
      },
      {
        "id": 101,
        "module": "slack:createMessage",
        "version": 1,
        "parameters": {
          "connection": "{{TODO: Add Slack connection ID}}"
        },
        "mapper": {
          "channel": "{{TODO: Add content channel ID}}",
          "text": ":warning: Failed to generate draft for: {{3.title}}\n\nError: {{100.error.message}}\n\nPlease check the content idea and try again, or generate manually."
        },
        "metadata": {
          "name": "Alert on Error"
        },
        "handlerType": "error",
        "direction": [4, 5, 6, 7]
      }
    ]
  },
  "notes": "## AI-Generated Content Drafts Automation\n\n### Purpose\nAutomatically generates first drafts of content using Claude AI when content ideas are marked ready, greatly accelerating content production.\n\n### Setup Requirements\n1. Create Notion databases:\n   - Content Ideas (with fields: Title, Content_Type, Status, Target_Audience, Key_Points, Draft_Link, Draft_Created_Date)\n   - Drafts (with fields: Title, Content_Type, Status, Draft_Link, Word_Count, Created_Date, Source_Idea, AI_Model)\n   - Content Pipeline Log (for tracking)\n2. Set up Google Drive folder for drafts\n3. Configure Claude API access\n4. Set up Slack channel for content notifications\n\n### Content Types Supported\n- Blog Post (1500 words)\n- Social Post (150 words)\n- Email (300 words)\n- Tutorial (2000 words)\n- Other (1000 words)\n\n### TODO for Operator\n- Add all connection IDs\n- Create required Notion databases\n- Get Claude API key from Anthropic\n- Customize word counts per content type\n- Add additional content types if needed\n- Consider adding GPT-4 as fallback\n- Test with various content types\n- Add context from NotebookLM if needed"
}