make_scenarios/scenario-20-contextual-docs.json
{
  "name": "BrainOps Contextual Document Generation",
  "description": "Automatically generates context-aware documents (case studies, SOPs, knowledge base articles) using Claude AI when specific triggers occur, with relevant project/client data included.",
  "trigger": {
    "id": 1,
    "module": "clickup:watchTasks",
    "version": 2,
    "parameters": {
      "connection": "{{TODO: Add ClickUp connection ID}}",
      "listId": "{{TODO: Insert Projects List ID}}",
      "includeSubtasks": false,
      "includeClosed": true
    },
    "mapper": {
      "filters": [
        {
          "filterType": "status",
          "values": ["Project Complete", "Case Study Needed"]
        }
      ]
    },
    "metadata": {
      "name": "Watch for Document Generation Triggers",
      "designer": {
        "x": 0,
        "y": 150
      }
    }
  },
  "modules": [
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "name": "Route by Document Type",
        "designer": {
          "x": 300,
          "y": 150
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "clickup:getTask",
              "version": 2,
              "parameters": {
                "connection": "{{TODO: Add ClickUp connection ID}}"
              },
              "mapper": {
                "taskId": "{{1.id}}",
                "includeSubtasks": false
              },
              "metadata": {
                "name": "Get Full Project Details",
                "designer": {
                  "x": 600,
                  "y": 0
                }
              }
            },
            {
              "id": 4,
              "module": "tools:setMultipleVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "variables": [
                  {
                    "name": "projectName",
                    "value": "{{3.name}}"
                  },
                  {
                    "name": "clientName",
                    "value": "{{3.custom_fields[?name=\"Client\"].value}}"
                  },
                  {
                    "name": "projectType",
                    "value": "{{3.custom_fields[?name=\"Project Type\"].value}}"
                  },
                  {
                    "name": "projectResults",
                    "value": "{{3.custom_fields[?name=\"Results\"].value}}"
                  },
                  {
                    "name": "startDate",
                    "value": "{{formatDate(parseDate(3.start_date; \"X\"); \"MMMM YYYY\")}}"
                  },
                  {
                    "name": "endDate",
                    "value": "{{formatDate(parseDate(3.due_date; \"X\"); \"MMMM YYYY\")}}"
                  }
                ],
                "scope": "roundtrip"
              },
              "metadata": {
                "name": "Extract Project Data",
                "designer": {
                  "x": 900,
                  "y": 0
                }
              }
            },
            {
              "id": 5,
              "module": "http:makeAPIRequest",
              "version": 1,
              "parameters": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "POST",
                "headers": [
                  {
                    "name": "x-api-key",
                    "value": "{{TODO: Add Claude API key}}"
                  },
                  {
                    "name": "anthropic-version",
                    "value": "2023-06-01"
                  },
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true,
                "timeout": 60
              },
              "mapper": {
                "body": "{\n  \"model\": \"claude-3-opus-20240229\",\n  \"max_tokens\": 2500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are BrainOps' Content Director AI. Create a professional case study based on the following project data:\\n\\nProject: {{4.projectName}}\\nClient: {{4.clientName}}\\nType: {{4.projectType}}\\nDuration: {{4.startDate}} - {{4.endDate}}\\nResults: {{4.projectResults}}\\n\\nFormat:\\n1. Executive Summary (2-3 sentences)\\n2. Client Challenge (what problem they faced)\\n3. BrainOps Solution (our approach and implementation)\\n4. Results & Impact (quantifiable outcomes)\\n5. Key Takeaways\\n\\nMake it compelling but factual. Focus on demonstrating BrainOps' expertise in {{4.projectType}}. Length: 800-1000 words.\"\n    }\n  ],\n  \"temperature\": 0.7\n}"
              },
              "metadata": {
                "name": "Generate Case Study with Claude",
                "designer": {
                  "x": 1200,
                  "y": 0
                }
              }
            },
            {
              "id": 6,
              "module": "google-docs:createDocument",
              "version": 1,
              "parameters": {
                "connection": "{{TODO: Add Google Docs connection ID}}",
                "folderId": "{{TODO: Add Case Studies folder ID}}"
              },
              "mapper": {
                "name": "Case Study - {{4.clientName}} - {{4.projectName}}",
                "content": "{{5.data.content[1].text}}"
              },
              "metadata": {
                "name": "Create Case Study Document",
                "designer": {
                  "x": 1500,
                  "y": 0
                }
              }
            },
            {
              "id": 7,
              "module": "notion:createDatabaseItem",
              "version": 3,
              "parameters": {
                "connection": "{{TODO: Add Notion connection ID}}"
              },
              "mapper": {
                "databaseId": "{{TODO: Insert Case Studies Database ID}}",
                "properties": {
                  "Title": {
                    "title": [{
                      "text": {
                        "content": "{{4.clientName}} - {{4.projectName}}"
                      }
                    }]
                  },
                  "Client": {
                    "rich_text": [{
                      "text": {
                        "content": "{{4.clientName}}"
                      }
                    }]
                  },
                  "Project_Type": {
                    "select": {
                      "name": "{{4.projectType}}"
                    }
                  },
                  "Status": {
                    "select": {
                      "name": "Draft"
                    }
                  },
                  "Document_Link": {
                    "url": "{{6.webViewLink}}"
                  },
                  "Created_Date": {
                    "date": {
                      "start": "{{formatDate(now; \"YYYY-MM-DD\")}}"
                    }
                  },
                  "ClickUp_Project": {
                    "url": "{{3.url}}"
                  }
                }
              },
              "metadata": {
                "name": "Log Case Study in Notion",
                "designer": {
                  "x": 1800,
                  "y": 0
                }
              }
            },
            {
              "id": 8,
              "module": "clickup:updateTask",
              "version": 2,
              "parameters": {
                "connection": "{{TODO: Add ClickUp connection ID}}"
              },
              "mapper": {
                "taskId": "{{1.id}}",
                "status": "Case Study Created",
                "customFields": [
                  {
                    "id": "{{TODO: Add Case Study Link field ID}}",
                    "value": "{{6.webViewLink}}"
                  }
                ]
              },
              "metadata": {
                "name": "Update Project Task",
                "designer": {
                  "x": 2100,
                  "y": 0
                }
              }
            }
          ],
          "label": "Case Study Generation"
        },
        {
          "flow": [
            {
              "id": 9,
              "module": "notion:searchObjects",
              "version": 3,
              "parameters": {
                "connection": "{{TODO: Add Notion connection ID}}",
                "databaseId": "{{TODO: Insert Support Tickets Database ID}}",
                "filterType": "property",
                "limit": 50
              },
              "mapper": {
                "filter": {
                  "and": [
                    {
                      "property": "Category",
                      "select": {
                        "equals": "{{1.custom_fields[?name=\"FAQ Category\"].value}}"
                      }
                    },
                    {
                      "property": "Frequency",
                      "number": {
                        "greater_than": 3
                      }
                    }
                  ]
                }
              },
              "metadata": {
                "name": "Get Frequent Questions",
                "designer": {
                  "x": 600,
                  "y": 300
                }
              }
            },
            {
              "id": 10,
              "module": "tools:setVariable",
              "version": 1,
              "parameters": {},
              "mapper": {
                "name": "commonQuestions",
                "scope": "roundtrip",
                "value": "{{join(map(9.results; \"properties.Question.title[1].text.content\"); \"\\n- \")}}"
              },
              "metadata": {
                "name": "Compile Questions List",
                "designer": {
                  "x": 900,
                  "y": 300
                }
              }
            },
            {
              "id": 11,
              "module": "http:makeAPIRequest",
              "version": 1,
              "parameters": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "POST",
                "headers": [
                  {
                    "name": "x-api-key",
                    "value": "{{TODO: Add Claude API key}}"
                  },
                  {
                    "name": "anthropic-version",
                    "value": "2023-06-01"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true
              },
              "mapper": {
                "body": "{\n  \"model\": \"claude-3-opus-20240229\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are BrainOps' Content Director AI. Create a comprehensive knowledge base article addressing these common questions:\\n\\n{{10.commonQuestions}}\\n\\nCategory: {{1.custom_fields[?name=\"FAQ Category\"].value}}\\n\\nFormat:\\n1. Brief introduction explaining the topic\\n2. Answer each question clearly and thoroughly\\n3. Include practical examples\\n4. Add troubleshooting tips if applicable\\n5. End with 'Related Articles' suggestions\\n\\nTone: Clear, helpful, and authoritative. Assume the reader needs practical guidance.\"\n    }\n  ],\n  \"temperature\": 0.7\n}"
              },
              "metadata": {
                "name": "Generate KB Article with Claude",
                "designer": {
                  "x": 1200,
                  "y": 300
                }
              }
            },
            {
              "id": 12,
              "module": "notion:createDatabaseItem",
              "version": 3,
              "parameters": {
                "connection": "{{TODO: Add Notion connection ID}}"
              },
              "mapper": {
                "databaseId": "{{TODO: Insert Knowledge Base Database ID}}",
                "properties": {
                  "Title": {
                    "title": [{
                      "text": {
                        "content": "{{1.custom_fields[?name=\"FAQ Category\"].value}} - Complete Guide"
                      }
                    }]
                  },
                  "Category": {
                    "select": {
                      "name": "{{1.custom_fields[?name=\"FAQ Category\"].value}}"
                    }
                  },
                  "Content": {
                    "rich_text": [{
                      "text": {
                        "content": "{{11.data.content[1].text}}"
                      }
                    }]
                  },
                  "Status": {
                    "select": {
                      "name": "Draft"
                    }
                  },
                  "Created_Date": {
                    "date": {
                      "start": "{{formatDate(now; \"YYYY-MM-DD\")}}"
                    }
                  },
                  "Questions_Addressed": {
                    "number": "{{length(9.results)}}"
                  }
                }
              },
              "metadata": {
                "name": "Create KB Article in Notion",
                "designer": {
                  "x": 1500,
                  "y": 300
                }
              }
            }
          ],
          "label": "KB Article Generation"
        },
        {
          "flow": [
            {
              "id": 13,
              "module": "notion:getDatabaseItem",
              "version": 1,
              "parameters": {
                "connection": "{{TODO: Add Notion connection ID}}"
              },
              "mapper": {
                "databaseId": "{{TODO: Insert Process Issues Database ID}}",
                "pageId": "{{1.custom_fields[?name=\"Process Issue ID\"].value}}"
              },
              "metadata": {
                "name": "Get Process Issue Details",
                "designer": {
                  "x": 600,
                  "y": 600
                }
              }
            },
            {
              "id": 14,
              "module": "notion:searchObjects",
              "version": 3,
              "parameters": {
                "connection": "{{TODO: Add Notion connection ID}}",
                "databaseId": "{{TODO: Insert SOPs Database ID}}",
                "filterType": "property",
                "limit": 5
              },
              "mapper": {
                "filter": {
                  "property": "Category",
                  "select": {
                    "equals": "{{13.properties.Process_Area.select.name}}"
                  }
                }
              },
              "metadata": {
                "name": "Find Similar SOPs",
                "designer": {
                  "x": 900,
                  "y": 600
                }
              }
            },
            {
              "id": 15,
              "module": "http:makeAPIRequest",
              "version": 1,
              "parameters": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "POST",
                "headers": [
                  {
                    "name": "x-api-key",
                    "value": "{{TODO: Add Claude API key}}"
                  },
                  {
                    "name": "anthropic-version",
                    "value": "2023-06-01"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true
              },
              "mapper": {
                "body": "{\n  \"model\": \"claude-3-opus-20240229\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are BrainOps' Content Director AI. Create a Standard Operating Procedure (SOP) to address this process issue:\\n\\nIssue: {{13.properties.Issue_Description.rich_text[1].text.content}}\\nProcess Area: {{13.properties.Process_Area.select.name}}\\nRoot Cause: {{13.properties.Root_Cause.rich_text[1].text.content}}\\n\\nFormat the SOP with:\\n1. Purpose & Scope\\n2. Responsibilities\\n3. Step-by-Step Procedure\\n4. Quality Checkpoints\\n5. Common Errors to Avoid\\n6. Resources & Tools Needed\\n\\nMake it practical and immediately actionable. Include specific Make.com/ClickUp/Notion references where applicable.\"\n    }\n  ],\n  \"temperature\": 0.6\n}"
              },
              "metadata": {
                "name": "Generate SOP with Claude",
                "designer": {
                  "x": 1200,
                  "y": 600
                }
              }
            }
          ],
          "label": "SOP Generation"
        }
      ],
      "filter": {
        "name": "Determine document type",
        "conditions": [
          [{
            "a": "{{contains(1.status; \"Complete\")}}",
            "b": "{{true}}",
            "o": "equal"
          }],
          [{
            "a": "{{contains(1.tags; \"kb-article\")}}",
            "b": "{{true}}",
            "o": "equal"
          }],
          [{
            "a": "{{contains(1.tags; \"sop-needed\")}}",
            "b": "{{true}}",
            "o": "equal"
          }]
        ]
      }
    },
    {
      "id": 16,
      "module": "slack:createMessage",
      "version": 1,
      "parameters": {
        "connection": "{{TODO: Add Slack connection ID}}"
      },
      "mapper": {
        "channel": "{{TODO: Add operations channel ID}}",
        "text": ":memo: Document Generated!\n\nType: {{if(contains(1.status; \"Complete\"); \"Case Study\"; if(contains(1.tags; \"kb-article\"); \"KB Article\"; \"SOP\"))}}\nTrigger: {{1.name}}\n\nDocument ready for review and editing."
      },
      "metadata": {
        "name": "Notify Document Created",
        "designer": {
          "x": 2400,
          "y": 150
        }
      }
    }
  ],
  "settings": {
    "executionTimeout": 120,
    "maxCycles": 50,
    "dlq": true,
    "keepExecutionHistory": true
  },
  "notes": "## Contextual Document Generation Automation\n\n### Purpose\nAutomatically generates context-aware documents (case studies, SOPs, KB articles) using Claude AI when specific triggers occur, pulling in relevant project/client data.\n\n### Document Types Supported\n1. **Case Studies**: Triggered when projects are marked complete\n2. **KB Articles**: Triggered by frequent support questions\n3. **SOPs**: Triggered by process issues or errors\n\n### Setup Requirements\n1. Configure ClickUp custom fields:\n   - Client, Project Type, Results (for projects)\n   - FAQ Category (for KB triggers)\n   - Process Issue ID (for SOP triggers)\n2. Create Notion databases:\n   - Case Studies\n   - Knowledge Base\n   - SOPs\n   - Support Tickets\n   - Process Issues\n3. Set up Google Drive folders for case studies\n4. Configure Claude API access\n\n### TODO for Operator\n- Add all connection IDs\n- Create required custom fields in ClickUp\n- Set up all Notion databases with proper fields\n- Configure trigger conditions for each document type\n- Test with sample data for each path\n- Consider adding more document types\n- Add NotebookLM integration for context"
}