make_scenarios/scenario-21-ai-orchestration.json
{
  "name": "BrainOps Cross-AI Workflow Coordination",
  "description": "Orchestrates complex multi-step workflows where different AI agents (Gemini, ChatGPT, Claude, Perplexity) contribute their specialized capabilities to deliver comprehensive results.",
  "trigger": {
    "id": 1,
    "module": "clickup:watchTasks",
    "version": 2,
    "parameters": {
      "connection": "{{TODO: Add ClickUp connection ID}}",
      "listId": "{{TODO: Insert AI Board Requests List ID}}",
      "includeSubtasks": false,
      "includeClosed": false
    },
    "mapper": {
      "filters": [
        {
          "filterType": "tags",
          "values": ["ai-orchestration", "multi-agent"]
        }
      ]
    },
    "metadata": {
      "name": "Watch for AI Orchestration Requests",
      "designer": {
        "x": 0,
        "y": 150
      }
    }
  },
  "modules": [
    {
      "id": 2,
      "module": "tools:setMultipleVariables",
      "version": 1,
      "parameters": {},
      "mapper": {
        "variables": [
          {
            "name": "requestType",
            "value": "{{1.custom_fields[?name=\"Request Type\"].value}}"
          },
          {
            "name": "taskDescription",
            "value": "{{1.description}}"
          },
          {
            "name": "requiredAgents",
            "value": "{{1.custom_fields[?name=\"Required Agents\"].value}}"
          },
          {
            "name": "taskName",
            "value": "{{1.name}}"
          }
        ],
        "scope": "roundtrip"
      },
      "metadata": {
        "name": "Extract Request Parameters",
        "designer": {
          "x": 300,
          "y": 150
        }
      }
    },
    {
      "id": 3,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "name": "Route by Workflow Type",
        "designer": {
          "x": 600,
          "y": 150
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "http:makeAPIRequest",
              "version": 1,
              "parameters": {
                "url": "https://api.openai.com/v1/chat/completions",
                "method": "POST",
                "headers": [
                  {
                    "name": "Authorization",
                    "value": "Bearer {{TODO: Add OpenAI API key}}"
                  },
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true
              },
              "mapper": {
                "body": "{\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are BrainOps' Strategic Intelligence Executive (Gemini role). Analyze market opportunities and provide strategic recommendations based on data-driven insights.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze the following new product opportunity:\\n\\n{{2.taskDescription}}\\n\\nProvide:\\n1. Market size and growth potential\\n2. Competitive landscape\\n3. Strategic positioning recommendations\\n4. Resource requirements\\n5. Risk assessment\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 2000\n}"
              },
              "metadata": {
                "name": "Gemini Strategic Analysis",
                "designer": {
                  "x": 900,
                  "y": 0
                }
              }
            },
            {
              "id": 5,
              "module": "tools:setVariable",
              "version": 1,
              "parameters": {},
              "mapper": {
                "name": "strategicAnalysis",
                "scope": "roundtrip",
                "value": "{{4.choices[1].message.content}}"
              },
              "metadata": {
                "name": "Store Strategic Analysis",
                "designer": {
                  "x": 1200,
                  "y": 0
                }
              }
            },
            {
              "id": 6,
              "module": "http:makeAPIRequest",
              "version": 1,
              "parameters": {
                "url": "https://api.openai.com/v1/chat/completions",
                "method": "POST",
                "headers": [
                  {
                    "name": "Authorization",
                    "value": "Bearer {{TODO: Add OpenAI API key}}"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true
              },
              "mapper": {
                "body": "{\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are BrainOps' Operational Executive (ChatGPT role). Create technical implementation plans based on strategic direction.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Based on this strategic analysis:\\n\\n{{5.strategicAnalysis}}\\n\\nCreate a technical implementation plan including:\\n1. Required technical infrastructure\\n2. Development phases and milestones\\n3. Integration requirements\\n4. Automation opportunities\\n5. Resource allocation\\n6. Timeline estimation\"\n    }\n  ],\n  \"temperature\": 0.6,\n  \"max_tokens\": 2000\n}"
              },
              "metadata": {
                "name": "ChatGPT Implementation Plan",
                "designer": {
                  "x": 1500,
                  "y": 0
                }
              }
            },
            {
              "id": 7,
              "module": "tools:setVariable",
              "version": 1,
              "parameters": {},
              "mapper": {
                "name": "implementationPlan",
                "scope": "roundtrip",
                "value": "{{6.choices[1].message.content}}"
              },
              "metadata": {
                "name": "Store Implementation Plan",
                "designer": {
                  "x": 1800,
                  "y": 0
                }
              }
            },
            {
              "id": 8,
              "module": "http:makeAPIRequest",
              "version": 1,
              "parameters": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "POST",
                "headers": [
                  {
                    "name": "x-api-key",
                    "value": "{{TODO: Add Claude API key}}"
                  },
                  {
                    "name": "anthropic-version",
                    "value": "2023-06-01"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true
              },
              "mapper": {
                "body": "{\n  \"model\": \"claude-3-opus-20240229\",\n  \"max_tokens\": 3000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are BrainOps' Content Director (Claude). Create a comprehensive executive presentation based on:\\n\\nStrategic Analysis:\\n{{5.strategicAnalysis}}\\n\\nImplementation Plan:\\n{{7.implementationPlan}}\\n\\nCreate a polished presentation outline with:\\n1. Executive Summary\\n2. Market Opportunity\\n3. Strategic Approach\\n4. Implementation Roadmap\\n5. Resource Requirements\\n6. Risk Mitigation\\n7. Success Metrics\\n8. Next Steps\\n\\nMake it compelling and ready for stakeholder review.\"\n    }\n  ],\n  \"temperature\": 0.7\n}"
              },
              "metadata": {
                "name": "Claude Presentation Creation",
                "designer": {
                  "x": 2100,
                  "y": 0
                }
              }
            }
          ],
          "label": "Product Strategy Workflow"
        },
        {
          "flow": [
            {
              "id": 9,
              "module": "http:makeAPIRequest",
              "version": 1,
              "parameters": {
                "url": "{{TODO: Add Perplexity API endpoint}}",
                "method": "POST",
                "headers": [
                  {
                    "name": "Authorization",
                    "value": "Bearer {{TODO: Add Perplexity API key}}"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true
              },
              "mapper": {
                "body": "{\n  \"model\": \"pplx-70b-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are BrainOps' Research Intelligence Executive. Gather current market data and competitor information.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research the following competitive landscape:\\n\\n{{2.taskDescription}}\\n\\nProvide:\\n1. Current competitor offerings and pricing\\n2. Recent market developments\\n3. Technology trends\\n4. Customer sentiment and reviews\\n5. Regulatory considerations\"\n    }\n  ]\n}"
              },
              "metadata": {
                "name": "Perplexity Market Research",
                "designer": {
                  "x": 900,
                  "y": 300
                }
              }
            },
            {
              "id": 10,
              "module": "http:makeAPIRequest",
              "version": 1,
              "parameters": {
                "url": "https://api.openai.com/v1/chat/completions",
                "method": "POST",
                "headers": [
                  {
                    "name": "Authorization",
                    "value": "Bearer {{TODO: Add OpenAI API key}}"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true
              },
              "mapper": {
                "body": "{\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are BrainOps' Strategic Intelligence Executive. Analyze competitive intelligence and recommend strategic positioning.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Based on this market research:\\n\\n{{9.data.choices[1].message.content}}\\n\\nDevelop:\\n1. Competitive differentiation strategy\\n2. Unique value proposition\\n3. Market positioning approach\\n4. Pricing strategy recommendations\\n5. Go-to-market tactics\"\n    }\n  ],\n  \"temperature\": 0.7\n}"
              },
              "metadata": {
                "name": "Gemini Strategic Positioning",
                "designer": {
                  "x": 1200,
                  "y": 300
                }
              }
            },
            {
              "id": 11,
              "module": "http:makeAPIRequest",
              "version": 1,
              "parameters": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "POST",
                "headers": [
                  {
                    "name": "x-api-key",
                    "value": "{{TODO: Add Claude API key}}"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true
              },
              "mapper": {
                "body": "{\n  \"model\": \"claude-3-opus-20240229\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are BrainOps' Content Director. Create marketing messaging and positioning based on:\\n\\nMarket Research:\\n{{9.data.choices[1].message.content}}\\n\\nStrategic Positioning:\\n{{10.choices[1].message.content}}\\n\\nCreate:\\n1. Core messaging framework\\n2. Value proposition statements\\n3. Target audience messaging\\n4. Competitive differentiators\\n5. Marketing campaign concepts\"\n    }\n  ]\n}"
              },
              "metadata": {
                "name": "Claude Marketing Development",
                "designer": {
                  "x": 1500,
                  "y": 300
                }
              }
            }
          ],
          "label": "Competitive Analysis Workflow"
        },
        {
          "flow": [
            {
              "id": 12,
              "module": "notion:searchObjects",
              "version": 3,
              "parameters": {
                "connection": "{{TODO: Add Notion connection ID}}",
                "databaseId": "{{TODO: Insert Knowledge Base Database ID}}",
                "filterType": "property",
                "limit": 10
              },
              "mapper": {
                "filter": {
                  "property": "Category",
                  "multi_select": {
                    "contains": "{{2.taskDescription}}"
                  }
                }
              },
              "metadata": {
                "name": "NotebookLM Knowledge Retrieval",
                "designer": {
                  "x": 900,
                  "y": 600
                }
              }
            },
            {
              "id": 13,
              "module": "tools:textAggregator",
              "version": 1,
              "parameters": {
                "feeder": 12
              },
              "mapper": {
                "value": "{{12.properties.Content.rich_text[1].text.content}}",
                "delimiter": "\n\n---\n\n"
              },
              "metadata": {
                "name": "Aggregate Knowledge Context",
                "designer": {
                  "x": 1200,
                  "y": 600
                }
              }
            },
            {
              "id": 14,
              "module": "http:makeAPIRequest",
              "version": 1,
              "parameters": {
                "url": "https://api.openai.com/v1/chat/completions",
                "method": "POST",
                "headers": [
                  {
                    "name": "Authorization",
                    "value": "Bearer {{TODO: Add OpenAI API key}}"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true
              },
              "mapper": {
                "body": "{\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are BrainOps' Operational Executive. Create implementation documentation based on organizational knowledge.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Using this organizational knowledge:\\n\\n{{13.text}}\\n\\nFor the task: {{2.taskDescription}}\\n\\nCreate:\\n1. Technical implementation guide\\n2. Step-by-step procedures\\n3. Configuration requirements\\n4. Integration specifications\\n5. Testing procedures\"\n    }\n  ]\n}"
              },
              "metadata": {
                "name": "ChatGPT Technical Documentation",
                "designer": {
                  "x": 1500,
                  "y": 600
                }
              }
            }
          ],
          "label": "Knowledge-Based Implementation"
        }
      ],
      "filter": {
        "name": "Determine workflow type",
        "conditions": [
          [{
            "a": "{{2.requestType}}",
            "b": "Product Strategy",
            "o": "text:equal"
          }],
          [{
            "a": "{{2.requestType}}",
            "b": "Competitive Analysis",
            "o": "text:equal"
          }],
          [{
            "a": "{{2.requestType}}",
            "b": "Implementation Guide",
            "o": "text:equal"
          }]
        ]
      }
    },
    {
      "id": 15,
      "module": "google-docs:createDocument",
      "version": 1,
      "parameters": {
        "connection": "{{TODO: Add Google Docs connection ID}}",
        "folderId": "{{TODO: Add AI Outputs folder ID}}"
      },
      "mapper": {
        "name": "AI Board Output - {{2.taskName}} - {{formatDate(now; \"YYYY-MM-DD\")}}",
        "content": "{{if(2.requestType = \"Product Strategy\"; \"# Product Strategy Analysis\\n\\n## Strategic Analysis\\n\" + 5.strategicAnalysis + \"\\n\\n## Implementation Plan\\n\" + 7.implementationPlan + \"\\n\\n## Executive Presentation\\n\" + 8.data.content[1].text; if(2.requestType = \"Competitive Analysis\"; \"# Competitive Analysis\\n\\n## Market Research\\n\" + 9.data.choices[1].message.content + \"\\n\\n## Strategic Positioning\\n\" + 10.choices[1].message.content + \"\\n\\n## Marketing Framework\\n\" + 11.data.content[1].text; \"# Implementation Guide\\n\\n## Organizational Context\\n\" + 13.text + \"\\n\\n## Technical Implementation\\n\" + 14.choices[1].message.content))}}"
      },
      "metadata": {
        "name": "Compile Final Output Document",
        "designer": {
          "x": 2400,
          "y": 150
        }
      }
    },
    {
      "id": 16,
      "module": "clickup:updateTask",
      "version": 2,
      "parameters": {
        "connection": "{{TODO: Add ClickUp connection ID}}"
      },
      "mapper": {
        "taskId": "{{1.id}}",
        "status": "AI Analysis Complete",
        "customFields": [
          {
            "id": "{{TODO: Add Output Link field ID}}",
            "value": "{{15.webViewLink}}"
          },
          {
            "id": "{{TODO: Add Completion Date field ID}}",
            "value": "{{formatDate(now; \"YYYY-MM-DD\")}}"
          }
        ]
      },
      "metadata": {
        "name": "Update Request Task",
        "designer": {
          "x": 2700,
          "y": 150
        }
      }
    },
    {
      "id": 17,
      "module": "slack:createMessage",
      "version": 1,
      "parameters": {
        "connection": "{{TODO: Add Slack connection ID}}"
      },
      "mapper": {
        "channel": "{{TODO: Add AI Board channel ID}}",
        "text": ":robot_face: AI Board Analysis Complete!\n\n*Request:* {{2.taskName}}\n*Type:* {{2.requestType}}\n*Agents Used:* {{2.requiredAgents}}\n\n<{{15.webViewLink}}|View Full Analysis>\n\nThe multi-agent workflow has been completed. Please review the comprehensive output.",
        "blocks": [
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": ":robot_face: *AI Board Analysis Complete!*"
            }
          },
          {
            "type": "section",
            "fields": [
              {
                "type": "mrkdwn",
                "text": "*Request:*\n{{2.taskName}}"
              },
              {
                "type": "mrkdwn",
                "text": "*Workflow Type:*\n{{2.requestType}}"
              }
            ]
          },
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": "*Summary:*\nThe AI Board has completed a {{2.requestType}} analysis using {{2.requiredAgents}}. Each AI contributed their specialized expertise to create a comprehensive output."
            }
          },
          {
            "type": "actions",
            "elements": [
              {
                "type": "button",
                "text": {
                  "type": "plain_text",
                  "text": "View Analysis"
                },
                "url": "{{15.webViewLink}}",
                "style": "primary"
              }
            ]
          }
        ]
      },
      "metadata": {
        "name": "Notify Completion",
        "designer": {
          "x": 3000,
          "y": 150
        }
      }
    },
    {
      "id": 18,
      "module": "notion:createDatabaseItem",
      "version": 3,
      "parameters": {
        "connection": "{{TODO: Add Notion connection ID}}"
      },
      "mapper": {
        "databaseId": "{{TODO: Insert AI Board Log Database ID}}",
        "properties": {
          "Request": {
            "title": [{
              "text": {
                "content": "{{2.taskName}}"
              }
            }]
          },
          "Type": {
            "select": {
              "name": "{{2.requestType}}"
            }
          },
          "Agents_Used": {
            "multi_select": "{{split(2.requiredAgents; \",\")}}"
          },
          "Status": {
            "select": {
              "name": "Complete"
            }
          },
          "Output_Link": {
            "url": "{{15.webViewLink}}"
          },
          "Completion_Date": {
            "date": {
              "start": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
            }
          },
          "Processing_Time": {
            "number": "{{TODO: Calculate based on start time}}"
          }
        }
      },
      "metadata": {
        "name": "Log AI Board Activity",
        "designer": {
          "x": 3300,
          "y": 150
        }
      }
    }
  ],
  "settings": {
    "executionTimeout": 300,
    "maxCycles": 50,
    "dlq": true,
    "keepExecutionHistory": true
  },
  "notes": "## Cross-AI Workflow Coordination Automation\n\n### Purpose\nOrchestrates complex multi-step workflows where different AI agents contribute their specialized capabilities to deliver comprehensive results.\n\n### Supported Workflows\n1. **Product Strategy**: Gemini → ChatGPT → Claude\n2. **Competitive Analysis**: Perplexity → Gemini → Claude\n3. **Knowledge-Based Implementation**: NotebookLM → ChatGPT\n\n### Setup Requirements\n1. Create ClickUp list for AI Board Requests with:\n   - Custom fields: Request Type, Required Agents, Output Link, Completion Date\n   - Tags: ai-orchestration, multi-agent\n2. Set up API access for all AI services:\n   - OpenAI (GPT-4 for Gemini/ChatGPT roles)\n   - Claude (Anthropic)\n   - Perplexity\n3. Create Notion databases:\n   - AI Board Log\n   - Knowledge Base (for NotebookLM role)\n4. Set up Google Drive folder for outputs\n\n### TODO for Operator\n- Add all API keys and connection IDs\n- Configure ClickUp custom fields\n- Create Notion databases\n- Test each workflow path\n- Consider adding more workflow types\n- Implement token usage tracking\n- Add cost monitoring for API calls\n- Consider implementing parallel processing for faster results"
}